In [2]:
# 1. write a python  program to print the  Hello universe!
print("Hello universe!")

Hello universe!

In [3]:
# 2. write a program to add two numbers.
a=input("Enter first number :")
a=(int(a))
b=input("Enter  second number:")
b=(int(b))

print("Sum ", a+b)

Enter first number :12
Enter  second number:23
Sum  35

In [4]:
# 3.  Write a program to find remainder when a number is divided by 2
a = input ("Enter the number :")
a = int((a))
Remainder = a%2

print("Remainder is ",Remainder)

Enter the number :23
Remainder is  1

In [5]:
# 4. Check the type of the variable assigned  using input() function
a= input ("Enter something :")

print(type(a))

Enter something :smruti
<class 'str'>

In [6]:
# 5. Use the comparision operator to check a is greater than b or not.                                                                                                                                        
a = int (input("Enter first number :"))
b=int(input("Enter second number :"))
print("a is greater than b ,it is true or false : ", (a>b) )

Enter first number :23
Enter second number :76
a is greater than b ,it is true or false :  False

In [7]:
# 6. Average of two numbers
a =  int(input("Enter first  number :"))
b = int(input("Enter the second number : "))
c= (a+b)/2
print("Average of given   numbers : ", c)

Enter first  number :23
Enter the second number : 76
Average of given   numbers :  49.5

In [8]:
# 7. Square of a  number
a= int(input("Enter the number :"))
b= a*a
print( "square of given number  is :", b )

Enter the number :56
square of given number  is : 3136

In [9]:
# 8.   Sum of two strings 
a="Free"
b="dom"

print(a+b)

Freedom

In [10]:
# 9. If we  use   ', '   instead of  '+'
a = "Free"
b = "dom"
print(a,b)

Free dom

In [11]:
# 10.  string slicing
a= "Complete Freedom"

print(a [0:15])

Complete Freedo

In [12]:
a="The universe"
print(a[1:  ])
# [1:  ]  treats  as [2:12]

he universe

In [13]:
a="The universe"
print(a[ :12])
#  [ :12 ] treats as [0 : 12]

The universe

In [14]:
a="The universe"

print(a[  :-1])

# Reason : We can start counting from last (-1,-2.......) , instead of  srating from start (0,1,2,3....).    [ In string]

The univers

In [15]:
# 11.  Write a program to find string length. 
a = "The Universe"
print(len(a))

12

In [16]:
# 12.  Write a program to check whether the string ends with "universe" or not .
a= "Hey , Good Morning"
print(a.endswith("universe"))

False

In [18]:
# 13. Slicing with skip value. 
a= "The Universe"
print(a[0 : 12 : 2])

TeUies

In [19]:
# 14.  Write  a program to count the total number of occurence of any  character.
A = " The universe" 
print(A.count("e"))

3

In [20]:
# 15. Write a program to capitalizes the first charater of a string. 
a = "the"
print(a.capitalize())

The

In [21]:
# 16. Write a program to replace  the  oldword  with newword  in strings
a = "The univebse"
print(a.replace("b","r"))

The universe

In [23]:
# 17 . Write a program to find a word in string.
a= "The universe"
print(a.find("r"))
print(a.find("e"))

9
2

In [26]:
# 18.  Escape sequence  characters in strings
a = "The\n universe"
print(a)

The
 universe

In [28]:
a=  "The \t Universe"
print(a)

The 	 Universe

In [31]:
a=  " The  \'  Universe"
print(a)

 The  '  Universe

In [37]:
a = " The\"Universe"
print (a)

 The"Universe

In [1]:
# 19. Write a program to display a user entered name followed by  Hello
# using input () function.
a= input("Name \n ")
print(" Hello , ",a)  or print( " Hello, " +a)

Name
 SMRUTI RANJAN POLAI
 Hello ,  SMRUTI RANJAN POLAI
 Hello, SMRUTI RANJAN POLAI

In [3]:
# 20. Write a program to fill in a letter templete given below with name and date  
Letter =''' Dear <|Planet|>,
You are so  beautiful !
Date : <|Date|>''' 

Planet = input("Enter planet's name : ")
Date = input("Enter date :")
Letter = Letter.replace("<|Planet|>" , Planet)
Letter =Letter.replace("<|Date|>", Date)
print(Letter)

Enter planet's name : Pluto
Enter date :06-02-2002
 Dear Pluto,


You are so  beautiful !

Date : 06-02-2002

In [4]:
# 21. Write a  program to detect double space in a string.
a= "Looking to learn programming ,   Do practice !"
print(a.find("  "))
#  If there's no  double space in string , then -1

30

In [5]:
# 22. Write a program to to update the given list in incresing order
L = [1,2,3456,59734, 4,8,3,9]
L.sort()
print(L)

[1, 2, 3, 4, 8, 9, 3456, 59734]

In [6]:
# 23. Write a program to to update the given list in reverse order. 
L = [1,2,3456,59734, 4,8,3,9]
L.reverse()
print(L)

[9, 3, 8, 4, 59734, 3456, 2, 1]

In [7]:
# 24. Write a program to Add  4 at the end of given  list 
L = [1,2 ,9]
L.append(4)
print(L)

[1, 2, 9, 4]

In [8]:
# 25. Write a program to insert 4 at index 2 of  given list
L= [1,2,3,4,5,65,4,3,2,1]
L.insert(2,4)
print(L)

[1, 2, 4, 3, 4, 5, 65, 4, 3, 2, 1]

In [9]:
# 26. Write a program to delete  element of index 2 in a given list.
L= [1,2,3,4,5,65,4,3,2,1]
L.pop(2)
print(L)

[1, 2, 4, 5, 65, 4, 3, 2, 1]

In [10]:
# 27. list.remove() function example :
L= [1,2,2,23,4,3,2,2,2,2,2,2]
L.remove(2)
print(L)

[1, 2, 23, 4, 3, 2, 2, 2, 2, 2, 2]

In [11]:
# 28. Write  a program to find the occurrence of an element(in tuples)
a= (23,45,6,74,33,3,3,3,3)
print(a.count(3))

4

In [12]:
# 29.  tuple.index() function example
a=(1,2,3,4,5,6,67,7,7)
print(a.index(7))
#  It  returns the index of first occurrence of 7 in tuple  a

7

In [13]:
# 30. Write a program to store 7 fruit in a list 
F1= input("Enter the first fruit: ")
F2= input("Enter the second fruit: ")
F3 =input("Enter the third fruit: ")
F4= input("Enter the fourth fruit: ")
F5= input("Enter the fifth fruit: ")
F6= input("Enter the sixth fruit: ")
F7= input("Enter the seventh fruit: ")
F= [F1,F2,F3,F4,F5,F6,F7]
print(F)

Enter the first fruit: apple
Enter the second fruit: banana
Enter the third fruit: guava
Enter the fourth fruit: grapes
Enter the fifth fruit: orange
Enter the sixth fruit: litchi
Enter the seventh fruit: jack fruit
['apple', 'banana', 'guava', 'grapes', 'orange', 'litchi', 'jack fruit']

In [14]:
# 31. Write a program to accept marks of 6 students and display them in sorted manner.
a =[10,20,24,15,26,37] 
a.sort()
print(a)

[10, 15, 20, 24, 26, 37]

In [16]:
# 32 . Write a program to sum a list with 4 numbers .  
a =[10,20,24,15]
print(a[0]+a[1]+a[2]+a[3])
# print(sum(a))

69

In [17]:
# 33.  Write a program to count the zeros in  the given tuple
a= (7,0,8,0,0,9)
print(a.count(0))

3

In [19]:
# 34.Dictionary example: 
myDict= { 
"Object" : "Moon" ,
"Nature" : "Cool"}
print(myDict["Object"])

Moon

In [20]:
myDict= { 
"Object" : "Moon" ,    
"Nature" : "Cool",
"dic1": {"Star":"Sun"}
}
print(myDict["dic1"]["Star"])

Sun

In [21]:
# 35. dictionary.keys example
a = {
    "a" : "b",
    "c"  : "d",
    "e": "f",
    1:2
    }
print(a.keys())

dict_keys(['a', 'c', 'e', 1])

In [22]:
a = {    
    "a" : "b",
    "c"  : "d",
    "e": "f",
    1:2
    }
print(a.items())

dict_items([('a', 'b'), ('c', 'd'), ('e', 'f'), (1, 2)])

In [24]:
# 37. dictionary.values example


a = {
    "a" : "b",
    "c"  : "d",
    "e": "f",
    1:2       
    }
print(a.values())

dict_values(['b', 'd', 'f', 2])

In [25]:
# 38. Program to update the dictionary by adding key-value pairs
a= {
    "P1": "Earth",
    "P2": "Mars",
    "P3":"Jupiter",
    "P4":"Saturn"
}
print(a)

a.update({"P5": "Venus"})  

print(a) # ( updated dictionary)

{'P1': 'Earth', 'P2': 'Mars', 'P3': 'Jupiter', 'P4': 'Saturn'}
{'P1': 'Earth', 'P2': 'Mars', 'P3': 'Jupiter', 'P4': 'Saturn', 'P5': 'Venus'}

In [26]:
# 39.  a.get function
a= { " P1":"Earth",
    "P2" : " MArs"
    }
print(a.get("P2"))

 MArs

In [27]:
# 40 . a.get() function   and a["  "] difference. 
a= { " P1":"Earth",
    "P2" : " MArs"  }
print(a.get("P21"))

None

In [28]:
a= { " P1":"Earth",
      "P2" : " MArs" }
print(a["P21"])

KeyError: 'P21'

In [29]:
# 41.  create an empty set  and add values to an empty set.
a= set()
a.add(1)
a.add(2)
a.add(3)
a.add(3)
a.add(3)    
print(a)

# we can insert tuples in a set but not lists

{1, 2, 3}

In [30]:
# 42. check whether insertaion of dictionary in a set possible or not.
a= set()
a.add(1)
a.add(2)
a.add(3)
a.add({"P1": "Earth",
       "P2" :" Venus"
    })
print(a)
# Reason : dictionaary is mutable

TypeError: unhashable type: 'dict'

In [31]:
# 43 . Write a program to check the length of  a set
a= {12,33,4,5,66,7}
print(len(a))

6

In [32]:
# 44. update the set and removes 8 from a  given set "A".
A = {1,2,3,4,5,6,7,8,9,0 }
A.remove(8)
print(A)

{0, 1, 2, 3, 4, 5, 6, 7, 9}

In [33]:
# 45. Write a program to clear the given set
a = { 2,3,4,0 }
a.clear()
print (a)

set()

In [35]:
# 46.   Write a program to find unions of two given sets
a = { 2,3,4,0 }
b= {1,7,9}
print(a|b)

{0, 1, 2, 3, 4, 7, 9}

In [36]:
print(a.union(b))

{0, 1, 2, 3, 4, 7, 9}

In [37]:
# 47. Write a program to find intersection of two given sets
a = { 2,3,4,0 }
b= {1,7,9,4}
print(a&b)
print(a.intersection(b))

{4}
{4}

In [38]:
# 48. set.pop
a= {11,12,13,14,15}
print(a.pop())
print(a)
# Note : pop() returns an random element from the set .Also the set is updated and will not contain the returned element

11
{12, 13, 14, 15}

In [39]:
# 49 . Write a program to create a dictionary of hindi words with values as their english translation .provide  user with an option to look it up .
myDict = { "Aadhami":"Man",
    "ghadi" : "Watch"  
}
a= input ("Enter the hindi word:")
print(myDict[a])

Enter the hindi word:ghadi
Watch

In [40]:
# 50 .Write a program to input eight numbers from the user and display all the  unique numbers
a= int(input("Enter the  second number :"))
b= int(input("Enter the  second number :"))
c= int(input("Enter the  third number :"))
d= int(input("Enter the  fourth number :"))
e= int(input("Enter the  fifth number :"))
f= int(input("Enter the  sixth number :"))
g= int(input("Enter the  seventh number :"))
h= int(input("Enter the  eighth number :"))
S= {a,b,c,d,e,f,g,h}
print(S)

Enter the  second number :90
Enter the  second number :98
Enter the  third number :79
Enter the  fourth number :86
Enter the  fifth number :88
Enter the  sixth number :99
Enter the  seventh number :74
Enter the  eighth number :83
{98, 99, 74, 79, 83, 86, 88, 90}

In [41]:
# 51. Write a program to check that : can we have a set with 4(int) annd "4"(str)  as a values in it. 
S= {2,"2"}
print(S)

{2, '2'}

In [42]:
# 52. length of given set
S= {1,1.0, "1"}
print(len(S))

2

In [43]:
# 53. if-elif-else  ladder example .
a = 24
if(a>10):
    print("a is greater than 10")  
elif(a>20):
    print("a is greater than 20")  
else :
    print("a is not greater than 10 and 20 ")

a is greater than 10

In [44]:
# 54. writte a pprogram to print yes when the age entered by the user is greater than or  equal to 18
a= int(input("Enter the age "))
if (a>=18):
    print("Yes")
elif(a==18):
    print("Yes")
else:
    print("Age is not greater than equal to 18")

Enter the age 21
Yes

In [45]:
a= int(input("Enter the age "))
if (a>=18):
    print("Yes")
else:
    print("NO")

Enter the age 24
Yes

In [46]:
# 55. "is"  and "in" operators examples

a = 3
if(a is 3):
    print("yes")
else:
    print("No")

yes

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\iasms\AppData\Local\Temp/ipykernel_10344/2183374082.py:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if(a is 3):

In [47]:
a = [ 2,34,4]   
if(2 in a):
    print("yes")
else:
    print("no")

yes

In [48]:
# 56. Write a program to find greatest of four nubers enetered by the user

a=int(input("Enter the first number :"))
b=int(input("Enter the second number :"))
c=int(input("Enter the third number :"))
d=int(input("Enter the fourth number :"))
if(a>b):
    P1=a
else:
    P1=b
    
if(c<d):
    P2=d
else:
    P2=c
    
if(P1>P2):
    print(str(P1), "is greatest ")
else:   
    print(str(P2),"is greatest ")

Enter the first number :1
Enter the second number :2
Enter the third number :3
Enter the fourth number :4
4 is greatest

In [49]:
# 57. Write a program to check out whether a student is pass or not if he requires  at lesat 33% in each subject and over all 40 % to paas the exam .

a=int(input("Enter the marks of first subject :"))
b=int(input("Enter the marks of second subject :"))
c=int(input("Enter the marks of third subject :"))
if(a<33 or b<33 or c<33):
    print("Fail")    
elif((a+b+c)/3 <40 ):
    print("Fail")
else:
    print("Paas")

Enter the marks of first subject :76
Enter the marks of second subject :87
Enter the marks of third subject :67
Paas

In [50]:
# 58 . Write a program to detect given spamming messages.

a= input("Enter the text :  ")
if ("hey" in a):
    spam = True
elif("good morning" in a):
    spam= True
else:
    spam= False
    
if(spam):
    print(" it is spam ")
else:
    print("Not a spam")

Enter the text :  smruti hey
 it is spam

In [51]:
# 59. Write a program to calculate the grade of a student from his marks from the following scheme:
# 90-100  Ex
# 80-90  A
# 70-80  B
# 60-70  C
# 50-60  D
# <50  F

a= int(input("Enter marks:"))
if(90<a and a<100):
    print(" Excellent")
    
elif(80<a and a<90):
    print(" Grade A")
    
elif(70<a and a<80):
    print(" Grade B")
    
elif(60<a and a<70):
    print(" Grade C")

elif(50<a and a<60):
    print("Grade D")
    
else:
    print("Grade F")

Enter marks:84
 Grade A

In [5]:
# 60. Write a program to print to 21 using a while loop

i=1
while(i<21) :
    print (i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [53]:
# 61. Write a program to print the content of a list using while loop
a = [12,3,4,"Universe", "Earth"]
i=0
while(i<len(a)):
    print(a[i])
    i=i+1

12
3
4
Universe
Earth

In [54]:
# 62. Write a program to print the content of a list using for loop
a = [12,3,4,"Universe", "Earth"]
for items in a:
    print(items)

12
3
4
Universe
Earth

In [4]:
# 63. Write a program to print numbers from 1 to 21 using for loop

for i in  range (21):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [3]:
# 64. Write a program to print numbers from 5 to 29 using for loop

for i in  range (5,29):
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28

In [2]:
# 65. Step size example

for i in range(2,101,11):
    print(i)

2
13
24
35
46
57
68
79
90

In [1]:
# 66. for loop with else              

for i in range(0,101,9):
    print(i)
else:
    print("Done")

0
9
18
27
36
45
54
63
72
81
90
99
Done

In [59]:
# 67.  Break statement use in program      
for i in range(0,101):
    print(i)
    if i==5:
        break

0
1
2
3
4
5

In [60]:
# 68 . continue statement use in program      

for i in range(0,11):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10

In [62]:
# 69. continue statement use in program  
l=  [1,2,3,4]
for item in l:
    pass
print("Hey")

Hey

In [64]:
# 70. Write a program to print multiplication table off a given number using for loop

a= int(input("Enter the number :"))
for a in range(1,11):
    print(a*2)

Enter the number :45
2
4
6
8
10
12
14
16
18
20

In [65]:
# 71. write a program to great all  the names stored in a list which starts from K

a =["Kabir","Meera","Tulsidaas","buddha","Krishnamurti"]
for name  in a:
    if name.startswith("K"):
        print("Namaste,"+ name)

Namaste,Kabir
Namaste,Krishnamurti

In [66]:
# 72. write a program to print multiplication table using for loop
i=1
while(i<11):
    print(2*i)
    i=i+1

2
4
6
8
10
12
14
16
18
20

In [68]:
# 73. write a program to calculate factorial of a number

a= int(input("Enter the number"))
factorial =1  
for i in range(1,a+1):
    factorial = factorial*i  
print(factorial)

Enter the number5
120

In [69]:
# 74. Write a program to print the following star pattern:
# *

# *
# ****    for n = 4

for i in range (5):
    print("*" *i)

*
**
***
****

In [70]:
# 75.  write a program  to print multiplication table of n using for loop in reversed order

for i in range (10,0, -1):
    print(2*i)

20
18
16
14
12
10
8
6
4
2

In [71]:
# 76. write a program  to print multiplication table of n using while loop in reversed order

i=10
while(i>=1):
    print(2*i)
    i=i-1

20
18
16
14
12
10
8
6
4
2

In [72]:
# 77 . write a function to calculate the percentage

def percent(marks):
    p = (marks[0]+marks[1]+marks[2])/3
    return p   
mark = [67,62,49]
p = percent(mark)   
print(p)

59.333333333333336

In [73]:
# 78. Write a program to greet new users

def greet(A):
    print("Good Morning ,"+ A)
    
a = "Krishnaurti"
greet(a)

b= "Krishna"
greet(b)

Good Morning ,Krishnaurti
Good Morning ,Krishna

In [74]:
# 79. factorial using recursion

def recur(n):
    if n==0 or n==1:
        return 1
    else:
        return  n * recur(n-1)           
print(recur(5))

120

In [75]:
# 80. find greatest number using function

def maximum(n1,n2,n3):
    if(n1>n2):
        if(n1>n3):
            print( n1, +"is greatest number")
        else:
            print(n3,+"is graetest number")    
    else:
        if(n2>n3):
            print( n2, "is greatest number")
        else:
            print(n3, "is graetest number")   
a= maximum(23,45,67)

67 is graetest number

In [76]:
# 81. write a program using function to convert celsius to fahrenheit

def ctf(c):
    return (9*c/5)+32   
print("20 degree celsius in fahrenheit ",ctf(20))

20 degree celsius in fahrenheit  68.0

In [77]:
# 82 .write a recursive function to calculate the sum of n natural numbers
def r_sumc(n):
    if(n==0):
        return 0
    
    else:
        return n+ r_sumc(n-1)
print(r_sumc(100))

5050

In [78]:
# 83 .inch to centimeter using function
def ctr(a):
    return  2.54*a
print(ctr(10))

25.4

In [79]:
# 84. write a program to print multiplication table using function

def mult_table(n):
    for i in range(1,11):
        print(n*i)
        
mult_table(2)

2
4
6
8
10
12
14
16
18
20

In [1]:
# 85. print 'True' if the nunmbert  is palindrome

x = int(input())
if(str(x)[::-1]):
    print("true")
else:
    print("false")

2354532
true

In [2]:
# 86. READ 4 DIGIT INTEGER VALUE AS INPUT & PRINT SUM OF ALL DIGITS

number = int(input())
str = str(number)
res = int(str[0]) + int(str[1]) + int(str[2]) + int(str[3])
print(str[0] +"+"+str[1] + "+" +str[2]+ "+"+str[3]+ " =", res)

2345
2+3+4+5 = 14

In [5]:
num = int(input("Input a four digit numbers: "))
x  = num //1000
x1 = (num - x*1000)//100
x2 = (num - x*1000 - x1*100)//10
x3 = num - x*1000 - x1*100 - x2*10
print("The sum of digits in the number is", x+x1+x2+x3)

Input a four digit numbers: 2345
The sum of digits in the number is 14

In [3]:
# 87. load a float value & round it upto 2 decimal digits

number = float(input())
print(round(number,2))

45.8765
45.88

In [4]:
number = float(input())
print("{:.2f}".format(number))

45.8765
45.88

In [6]:
# 88. check number

n = int(input())
if (n > 0):
    if (n % 2 == 0):
        print("{} is an even natual number".format(n))
    else:
        print("{} is an odd natural number".format(n))
else:
    if(n%2 == 0):
        print("{} is an even number".format(n))
    else:
        print("{} is an odd number".format(n))

87
87 is an odd natural number

In [1]:
# 89. should a word in the sentence
str = input()
pattern = input()
if(str.lower().startswith(pattern.lower()) or str.lower().endswith(pattern.lower())):
    print("{} contains {}".format(str, pattern))
else:
    print("{} does not contain {}".format(str, pattern))

smruti ranjan polai the survivor and destorier
smruti
smruti ranjan polai the survivor and destorier contains smruti

In [7]:
# 90. mark - grade

marks = int(input())
if(marks >= 80):
    print("{marks} will grant you a Grade A".format(marks=marks))
elif(marks >= 60 and marks < 80):
    print("{marks} will grant you a Grade B".format(marks=marks))
elif(marks < 60):
    print("{marks} will grant you a Grade C".format(marks=marks))

92
92 will grant you a Grade A

In [8]:
# 91. salary problem

salary = float(input())

if(salary >= 10000):
    salary = salary + salary * 0.01
elif(salary >= 6000 and salary < 10000):
    salary = salary + salary * 0.08
elif(salary < 6000):
    salary = salary + salary * 0.05

salary = round(salary,2)
print(salary)

63400
64034.0

In [9]:
# 92. Calculation

a = int(input())
b = int(input())

print("1. Addition", "2. Substraction", "3. Exponent", "4. Multiplication", sep = "\n")
ch = int(input())

if(ch == 1):
    print("{a} + {b} = {c}".format(a=a, b=b, c=a+b))
elif(ch == 2):
    print("{a} - {b} = {c}".format(a=a, b=b, c=a-b))
elif(ch == 3):
    print("{a} ^ {b} = {c}".format(a=a, b=b, c=a**b))
elif(ch == 4):
    print("{a} * {b} = {c}".format(a=a, b=b, c=a*b))
else:
    print("Invalid Choice! Exiting Application")

2
4
1. Addition
2. Substraction
3. Exponent
4. Multiplication
3
2 ^ 4 = 16

In [10]:
# 93. check two strings are anagram or not
# Anagram is a word or phrase formed by rearranging the letters of a different words or phrase, 
# typically using all the original letters exactly once

str1 = input()
str2 = input()

if "".join(sorted(str1)) == "".join(sorted(str2)):
    print("{str1} == {str2} is true".format(str1 = str1, str2 = str2))
else:
    print("{str1} == {str2} is false".format(str1 = str1, str2 = str2))

rescue
curse
rescue == curse is false

In [11]:
import numpy as np

dictionary = { 'A':1,'ABC':3,'ABCD':4,'AB':2 }
print("Dictionary: ", dictionary)
sorted_value_index = np.argsort(dictionary.values())
dictionary_keys = list(dictionary.keys())
sort_dictionary = {dictionary_keys[i]: sorted(dictionary.values())[i] for i in range(len(dictionary_keys))}
print("Sorted Dictionary by value: ", sort_dictionary)

Dictionary:  {'A': 1, 'ABC': 3, 'ABCD': 4, 'AB': 2}
Sorted Dictionary by value:  {'A': 1, 'ABC': 2, 'ABCD': 3, 'AB': 4}

In [12]:
my_dict = {"m":250,"o":950,"b":170,"a":150} 
 
sort_keys = my_dict.items()
new_items = sorted(sort_keys)
print(new_items)

[('a', 150), ('b', 170), ('m', 250), ('o', 950)]

In [13]:
# 94. Candy - Jar Problem

n=10
k=5 
inp = int(input("Enter how many candies you want to order : "))
if inp>=1 and inp <=5:
    print(f"No of candies sold :{inp} ")
    print(f"No of candies left : {n-inp}")
else:
    print("Invalid input \n number of candies left : ",n)

Enter how many candies you want to order : 3
No of candies sold :3
No of candies left : 7

In [14]:
# 95. Function to find the
# minimum number of rats
import math
def minRats(n):
    return math.ceil(math.log2(n));

num = int(input('Number of bottles: '))
minRats(num)
print('Minimum rats needed: ', minRats(num))

Number of bottles: 7
Minimum rats needed:  3

In [19]:
# 96. Print sum of input numbers

numbers = input().split(" ")
nums = []
for i in numbers:
    nums.append(int(i))
numbers = nums.copy()
print(sum(numbers))

2245
2245

In [20]:
numbers = input().split(" ")
numbers = [int(i) for i in numbers]
print(sum(numbers))

12345
12345

In [21]:
# 97. given list of duplicate datas, print listof unique datas

ls = [1,1,1,2,3,4,4,5,5]
ls = list(set(ls))
print(ls)

[1, 2, 3, 4, 5]

In [22]:
# 98. identify the number of times the most repeating letter would
# appear within any word; if output is more than three, the word will
# be discarded & another word will be chosen for the game

data = input()
freq = [data.count(i) for i in data]
print(max(freq))

trigger
2

In [23]:
data = input()
freq = []
for i in data:
    freq.append(data.count(i)):
print(max(freq))

SyntaxError: invalid syntax (Temp/ipykernel_8764/3399606039.py, line 4)

In [26]:
# 99. find & extract only the letters & special characters from the whole
# string

# user i/p : admin@123   output : admin@
# user i/p : user@abc#12   output : userabc@#
    
data = input()
str = [i for i in data if i.isdigit() == False]
special = [i for i in str if i.isalpha() == False]
str = [i for i in str if i.isalpha() == True]
print("".join(str)+"".join(special))

user@abc#12
userabc@#

In [27]:
# 100. min, max, average numbers without using array /collections

number = int(input('Enter a count: '))
total = 0.0
count = 0
minimum = 0
maximum = 0

print('Enter Number: ')
for i in range(number):
    num = int(input())
    count = count + 1
    total = total + num
    
    if(i == 0):
        minimum = num
    
    if num<minimum:
        minimum = num
    elif num>maximum:
        maximum = num

print("Average: ", total/number)
print("Minimum number: ", minimum)
print("Maximum number: ", maximum)

Enter a count: 3
Enter Number:
234
2456
43214
Average:  15301.333333333334
Minimum number:  234
Maximum number:  43214

In [2]:
import pandas as pd
import numpy as np
import json
data = '{"Employee_name":"james", "email":"james@gmail.com","job_profile":"[{"title1":"trainee", "title2":"Team Lead"}]"}'
pd.read_json(data)

ValueError: Unexpected character found when decoding object value

In [3]:
d = '{"Employee name": "James", "email": "james@gmail.com", "job profile": [{"title1":"trainee", "title2":"Team Lead"}]}'
pd.read_json(d)

  Employee name            email                                   job profile
0         James  james@gmail.com  {'title1': 'trainee', 'title2': 'Team Lead'}

In [6]:
url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list'
dfh = pd.read_html(url)

In [ ]:
dfh[]