In [1]:
# Make a Pandas DataFrame with two-dimensional list
import pandas as pd  
lst = [['Smruti', 20], ['Raj', 17], 
       ['Harshit', 37], ['Naijen', 42]] 
df = pd.DataFrame(lst, columns =['Name', 'Age']) 
print(df )

      Name  Age
0   Smruti   20
1      Raj   17
2  Harshit   37
3   Naijen   42

In [2]:
# creating DataFrame from dict of ndarray/ lists
import pandas as pd
data = {'Name': ['Tom', 'nick', 'krish', 'jack'],
       'Age': [20,21,19,18]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [3]:
# Creating Pandas dataframe using list of lists
import pandas as pd
data = [['Smruti', 6], ['Ranjan', 6], ['Polai', 5]]
df = pd.DataFrame(data, columns = ['Name', 'Letter'])
print(df )

     Name  Letter
0  Smruti       6
1  Ranjan       6
2   Polai       5

In [4]:
# Creating a Pandas dataframe using list of tuples
import pandas as pd
data = [('Rohit', 34, 8000),
        ('Virat', 36, 10000),
        ('Rishab', 26, 2000),
        ('Dhoni', 41, 8000),
        ('Jadeja', 33, 6000) ]
df = pd.DataFrame(data, columns =['Name', 'Age', 'Score'])
print(df)

     Name  Age  Score
0   Rohit   34   8000
1   Virat   36  10000
2  Rishab   26   2000
3   Dhoni   41   8000
4  Jadeja   33   6000