In [1]:
from datetime import date
d1 = date(2020,4,23)
print(d1)
print(type(d1))

2020-04-23
<class 'datetime.date'>

In [2]:
d1 = date.today()
print(d1)

2022-03-31

In [3]:
print('Day:', d1.day)
print('Month:', d1.month)
print('Year:', d1.year)

Day: 31
Month: 3
Year: 2022

### working with Time in Python

In [5]:
from datetime import time
t1 = time(13, 20, 13, 40)
print(t1)
print(type(t1))

13:20:13.000040
<class 'datetime.time'>

In [6]:
print('Hour:', t1.hour)
print('Minute:', t1.minute)
print('Second:', t1.second)
print('Microsecond:', t1.microsecond)

Hour: 13
Minute: 20
Second: 13
Microsecond: 40

### Datetime in Python

In [7]:
from datetime import datetime 
d1 = datetime(2020,4,23,11,20,20,40)
print(d1)
print(type(d1))

2020-04-23 11:20:20.000040
<class 'datetime.datetime'>

In [8]:
d1 = datetime.now()
d1

datetime.datetime(2022, 3, 31, 11, 13, 47, 568350)

### Updating old Dates

In [9]:
print('Datetime:', d1)
print('Date:', d1.date())
print('Time:', d1.time())
print('New datetime:', d1.replace(day=24, hour=14))

Datetime: 2022-03-31 11:13:47.568350
Date: 2022-03-31
Time: 11:13:47.568350
New datetime: 2022-03-24 14:13:47.568350

### weekday from DateTime

In [10]:
d1 = datetime.now()
# week starts from 0
print(d1.weekday())       # output 3 for Thursday 
# week starts with 1
print(d1.isoweekday())    # output 4 in ISO format

3
4

### what week is it ?

In [13]:
d1 = datetime.now()
# returns year, week, month
print(d1.isocalendar())
print('Week: ',d1.isocalendar()[1])

datetime.IsoCalendarDate(year=2022, week=13, weekday=4)
Week:  13

### Leap Year or Not ? Use Calendar!

In [16]:
import calendar
d1 = datetime.now()
calendar.isleap(d1.year)

False

In [17]:
print(calendar.month(2022,1))

    January 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [19]:
print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [20]:
print(calendar.month(2002,2))

   February 2002
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28

### DateTime Formats

In [21]:
d1_datetime = date.fromisoformat('2020-04-23')
print(d1_datetime)
print(type(d1_datetime))
d1_ISO = date(2020,4,23).isoformat()
print(d1_ISO)
print(type(d1_ISO))

2020-04-23
<class 'datetime.date'>
2020-04-23
<class 'str'>

In [22]:
d1 = datetime.now()
print(d1.ctime())
print(d1.ctime()[:10])

Thu Mar 31 11:30:15 2022
Thu Mar 31

### Advanced DateTime Formatting with Strptime & Strftime

In [23]:
date = '22 April, 2020 13:20:13'
d1 = datetime.strptime(date, '%d %B, %Y %H:%M:%S')
print(d1)
print(type(d1))

2020-04-22 13:20:13
<class 'datetime.datetime'>

In [24]:
d1 = datetime.now()
print('Datetime object:', d1)
new_date = d1.strftime('%d/%m/%Y%H:%M')
print('Formatted date:', new_date)
print(type(new_date))

Datetime object: 2022-03-31 11:40:44.533528
Formatted date: 31/03/202211:40
<class 'str'>

In [25]:
d1 = datetime.now()
print('Weekday:', d1.strftime('%A'))
print('Month:', d1.strftime('%B'))
print('Week number:', d1.strftime('%W'))
print("Locale's date and time representation: ", d1.strftime('%c'))

Weekday: Thursday
Month: March
Week number: 13
Locale's date and time representation:  Thu Mar 31 11:44:21 2022

### Timedelta

In [28]:
d1 = datetime(2020,4,23,11,13,10)
d2 = datetime(2021,4,23,12,13,10)
duration = d2 - d1
print(type(duration))
duration

<class 'datetime.timedelta'>

datetime.timedelta(days=365, seconds=3600)

In [29]:
print(duration.days)

365

In [30]:
print(duration.seconds)

3600

In [33]:
from datetime import timedelta
print('Duration in hours:', duration/timedelta(hours=1))
print('Duration in minutes:', duration/timedelta(minutes=1))
print('Duration in seconds:', duration/timedelta(seconds=1))

Duration in hours: 8761.0
Duration in minutes: 525660.0
Duration in seconds: 31539600.0

In [34]:
d1 = datetime.now()
print("Today's date: ",d1)
d2 = d1 + timedelta(days=2)
print("Date 2 days from today:", d2)
d3 = d1 + timedelta(weeks = 2)
print("Date 2 weeks from today:", d3)

Today's date:  2022-03-31 11:55:16.106008
Date 2 days from today: 2022-04-02 11:55:16.106008
Date 2 weeks from today: 2022-04-14 11:55:16.106008

## DATETIME IN PANDAS

In [ ]:
# DateTime and Timedelta objects in Python

In [37]:
import pandas as pd
date = pd.to_datetime('24th March, 2020')
print(date)
print(type(date))

2020-03-24 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [40]:
import numpy as np
date = datetime.now()
print(date)
print(date + pd.to_timedelta(1, unit = 'D'))
print(date + pd.to_timedelta(1, unit = 'M'))

2022-03-31 12:08:35.653637
2022-04-01 12:08:35.653637

ValueError: Units 'M', 'Y', and 'y' are no longer supported, as they do not represent unambiguous timedelta values durations.

### Data Range in Pandas

In [41]:
pd.date_range(start = '24/4/2020', end = '24/5/2020', freq = 'D')

DatetimeIndex(['2020-04-24', '2020-04-25', '2020-04-26', '2020-04-27',
               '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-01',
               '2020-05-02', '2020-05-03', '2020-05-04', '2020-05-05',
               '2020-05-06', '2020-05-07', '2020-05-08', '2020-05-09',
               '2020-05-10', '2020-05-11', '2020-05-12', '2020-05-13',
               '2020-05-14', '2020-05-15', '2020-05-16', '2020-05-17',
               '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21',
               '2020-05-22', '2020-05-23', '2020-05-24'],
              dtype='datetime64[ns]', freq='D')

In [44]:
from datetime import datetime
start_date = datetime.today()
dates_start = pd.date_range(start=start_date, periods = 10, freq = 'T')
dates_start[:5]

DatetimeIndex(['2022-03-31 12:11:54.745142', '2022-03-31 12:12:54.745142',
               '2022-03-31 12:13:54.745142', '2022-03-31 12:14:54.745142',
               '2022-03-31 12:15:54.745142'],
              dtype='datetime64[ns]', freq='T')

### Making DateTime Features in Pandas

In [45]:
dates_end = pd.date_range(start = start_date, periods = 10, freq='D')
dates_end[:5]
import random
randomList = []
for i in range(10):
    randomList.append(random.randint(0,1))
df = pd.DataFrame()
df['Start_date'] = dates_start
df['End_date'] = dates_end
df['Targets'] = randomList
df.head()

                  Start_date                   End_date  Targets
0 2022-03-31 12:11:54.745142 2022-03-31 12:11:54.745142        1
1 2022-03-31 12:12:54.745142 2022-04-01 12:11:54.745142        0
2 2022-03-31 12:13:54.745142 2022-04-02 12:11:54.745142        1
3 2022-03-31 12:14:54.745142 2022-04-03 12:11:54.745142        1
4 2022-03-31 12:15:54.745142 2022-04-04 12:11:54.745142        1

In [1]:
import time
import datetime
print("Current date and time: " , datetime.datetime.now())
print("Current year: ", datetime.date.today().strftime("%Y"))
print("Month of year: ", datetime.date.today().strftime("%B"))
print("Week number of the year: ", datetime.date.today().strftime("%W"))
print("Weekday of the week: ", datetime.date.today().strftime("%w"))
print("Day of year: ", datetime.date.today().strftime("%j"))
print("Day of the month : ", datetime.date.today().strftime("%d"))
print("Day of week: ", datetime.date.today().strftime("%A"))

Current date and time:  2022-07-15 17:59:40.664715
Current year:  2022
Month of year:  July
Week number of the year:  28
Weekday of the week:  5
Day of year:  196
Day of the month :  15
Day of week:  Friday