# 23/03/2022

In [1]:
str1 = 'SMRUTI'
print(str1)

SMRUTI

In [2]:
str2 = "SMRUTI"
print(str2)

SMRUTI

In [3]:
str3 = '''SMRUTI'''
print(str3)

SMRUTI

In [4]:
print(str1[2])

R

In [5]:
print(str2[-3])

U

In [6]:
print(str3[1:4])

MRU

In [9]:
print(str3[-6])
print(str3[-1])
print(str3[-5])
print(str3[2:5])
# print(str3[-2:-3])    doesn't produce any result
# print(str3[-2:4])     doesn't produce any result

S
I
M
RUT

In [12]:
#Author:Smruti
#Licenced to:ABC Company
import os   #importing the os module
print("Hello World")

Hello World

In [13]:
'''
Author:Smruti
Licenced to:ABC Company
'''
import os   #importing the os module
print("Hello World")

Hello World

In [14]:
 # Problem-1
print("Twinkle, twinkle,little star,
      How I wondow what you are!
      Up above the world so high
      Like a diamond in the sky.")
# error as we can't print multiple stting lines using double quote

SyntaxError: EOL while scanning string literal (Temp/ipykernel_380/2863357997.py, line 2)

In [15]:
print('''Twinkle, twinkle,little star,
      How I wondow what you are!
      Up above the world so high
      Like a diamond in the sky.''')

Twinkle, twinkle,little star,
      How I wondow what you are!
      Up above the world so high
      Like a diamond in the sky.

In [16]:
print('''Twinkle, twinkle,little star,
How I wondow what you are!
Up above the world so high
Like a diamond in the sky.''')

Twinkle, twinkle,little star,
How I wondow what you are!
Up above the world so high
Like a diamond in the sky.

In [17]:
'''
this is the solution of problem 1
'''
print('''Twinkle, twinkle,little star,
How I wondow what you are!
Up above the world so high
Like a diamond in the sky.''')

Twinkle, twinkle,little star,
How I wondow what you are!
Up above the world so high
Like a diamond in the sky.

In [18]:
Elements=[10,20,0,40,15]
X=bytearray(Elements)
X[0]=88
X[1]=99
for i in X:
    print(i)

88
99
0
40
15

In [1]:
Elements=[10,20,0,40,15]
X=bytes(Elements)
X[0]=88
X[1]=99
for i in X:
    print(i)
    
# in byte we can not edit the value of any item though it is posiible in bytesarray

TypeError: 'bytes' object does not support item assignment

In [1]:
Elements=['a','m','r','e','s']
X=bytes(Elements)
for i in X:
    print(i)

TypeError: 'str' object cannot be interpreted as an integer

Variables

In [19]:
a = "Smruti"
b = 'Smruti'
c = '''Smruti'''
d = 321
e = 82.67
f = True
#f = None

#printing the variables
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

#printing the type of variables
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

Smruti
Smruti
Smruti
321
82.67
True
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [20]:
a = 37
print(a)
A = 67
print(A)

37
67

In [21]:
#Arithmetic Operator
a = 12
b = 13
print('The value of 12 + 13 is ', 12+13)
print('The value of 12-13 is ', 12-13)
print('The value of 12*13 is ', 12*13)
print('The value of 12/13 is ', 12/3)

#Assignment Operator
a = 34
a += 2
print(a)
a -= 4
print(a)
a *= 2
print(a)
a /= 8
print(a)

#Comparision Operator
b = (4>7)
print(b)
b = (20<23)
print(b)
# b = (14<=7)
# b = (14>=7)
# b = (14==7)
b = (14 != 7)
print(b)

# Logical Operators
bool1 = True
bool2 = False
print("The value of bool1 and bool2 is",(bool1 and bool2))
print("The value of bool1 and bool2 is",(bool1 or bool2))
print("The value of bool1 and bool2 is",(not bool2))

The value of 12 + 13 is  25
The value of 12-13 is  -1
The value of 12*13 is  156
The value of 12/13 is  4.0
36
32
64
8.0
False
True
True
The value of bool1 and bool2 is False
The value of bool1 and bool2 is True
The value of bool1 and bool2 is True

In [22]:
a = '3434'
print(type(a))
print(a+5)

<class 'str'>

TypeError: can only concatenate str (not "int") to str

In [23]:
a = '3434'
print(type(a))
a = int(a)
print(type(a))
print(a+5)

<class 'str'>
<class 'int'>
3439

In [24]:
a = "67hf6fhgggds7"
print(type(a))
a = int(a)
print(type(a))

<class 'str'>

ValueError: invalid literal for int() with base 10: '67hf6fhgggds7'

In [25]:
a = input("Enter your name ")
print(a)
print(type(a))

Enter your name GYANA RANJAN
GYANA RANJAN
<class 'str'>

In [26]:
a = input("Enter your name ")
print(a)
print(type(a))
a=int(a)  # convert a to an integer(if possible)
print(type(a))

Enter your name 1234
1234
<class 'str'>
<class 'int'>

In [27]:
myVariable=77
a=myVariable**3
print(myVariable)
print(a)

77
456533

In [28]:
value=input("Enter the Value ")
print(value)

Enter the Value 99
99

In [30]:
value1=input("Enter the Value ")
print(value1)
value2=int(input(float(input("Enter the Value "))))

Enter the Value 243
243
Enter the Value 243.7
243.79

In [31]:
help()

Welcome to Python 3.9's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.9/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> pandas
Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data.
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations.
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data.
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects.
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets.
      - Intuitive merging and joining data sets.
      - Flexible reshaping and pivoting of data sets.
      - Hierarchical labeling of axes (possible to have multiple labels per tick).
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format.
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, date shifting and lagging.

PACKAGE CONTENTS
    _config (package)
    _libs (package)
    _testing (package)
    _typing
    _version
    api (package)
    arrays (package)
    compat (package)
    conftest
    core (package)
    errors (package)
    io (package)
    plotting (package)
    testing
    tests (package)
    tseries (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

FUNCTIONS
    __getattr__(name)
        # GH 27101

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NA = <NA>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    __git_version__ = '945c9ed766a61c7d2c0a7cbb251b6edebf9cb7d5'
    describe_option = <pandas._config.config.CallableDynamicDoc object>
        describe_option(pat, _print_desc=False)

        Prints the description for one or more registered options.

        Call with not arguments to get a listing for all registered options.

        Available options:

        - compute.[use_bottleneck, use_numba, use_numexpr]
        - display.[chop_threshold, colheader_justify, column_space, date_dayfirst,
          date_yearfirst, encoding, expand_frame_repr, float_format]
        - display.html.[border, table_schema, use_mathjax]
        - display.[large_repr]
        - display.latex.[escape, longtable, multicolumn, multicolumn_format, multirow,
          repr]
        - display.[max_categories, max_columns, max_colwidth, max_info_columns,
          max_info_rows, max_rows, max_seq_items, memory_usage, min_rows, multi_sparse,
          notebook_repr_html, pprint_nest_depth, precision, show_dimensions]
        - display.unicode.[ambiguous_as_wide, east_asian_width]
        - display.[width]
        - io.excel.ods.[reader, writer]
        - io.excel.xls.[reader, writer]
        - io.excel.xlsb.[reader]
        - io.excel.xlsm.[reader, writer]
        - io.excel.xlsx.[reader, writer]
        - io.hdf.[default_format, dropna_table]
        - io.parquet.[engine]
        - io.sql.[engine]
        - mode.[chained_assignment, data_manager, sim_interactive, string_storage,
          use_inf_as_na, use_inf_as_null]
        - plotting.[backend]
        - plotting.matplotlib.[register_converters]
        - styler.render.[max_elements]
        - styler.sparse.[columns, index]

        Parameters
        ----------
        pat : str
            Regexp pattern. All matching keys will have their description displayed.
        _print_desc : bool, default True
            If True (default) the description(s) will be printed to stdout.
            Otherwise, the description(s) will be returned as a unicode string
            (for testing).

        Returns
        -------
        None by default, the description(s) as a unicode string if _print_desc
        is False

        Notes
        -----
        The available options with its descriptions:

        compute.use_bottleneck : bool
            Use the bottleneck library to accelerate if it is installed,
            the default is True
            Valid values: False,True
            [default: True] [currently: True]
        compute.use_numba : bool
            Use the numba engine option for select operations if it is installed,
            the default is False
            Valid values: False,True
            [default: False] [currently: False]
        compute.use_numexpr : bool
            Use the numexpr library to accelerate computation if it is installed,
            the default is True
            Valid values: False,True
            [default: True] [currently: True]
        display.chop_threshold : float or None
            if set to a float value, all float values smaller then the given threshold
            will be displayed as exactly 0 by repr and friends.
            [default: None] [currently: None]
        display.colheader_justify : 'left'/'right'
            Controls the justification of column headers. used by DataFrameFormatter.
            [default: right] [currently: right]
        display.column_space No description available.
            [default: 12] [currently: 12]
        display.date_dayfirst : boolean
            When True, prints and parses dates with the day first, eg 20/01/2005
            [default: False] [currently: False]
        display.date_yearfirst : boolean
            When True, prints and parses dates with the year first, eg 2005/01/20
            [default: False] [currently: False]
        display.encoding : str/unicode
            Defaults to the detected encoding of the console.
            Specifies the encoding to be used for strings returned by to_string,
            these are generally strings meant to be displayed on the console.
            [default: UTF-8] [currently: UTF-8]
        display.expand_frame_repr : boolean
            Whether to print out the full DataFrame repr for wide DataFrames across
            multiple lines, `max_columns` is still respected, but the output will
            wrap-around across multiple "pages" if its width exceeds `display.width`.
            [default: True] [currently: True]
        display.float_format : callable
            The callable should accept a floating point number and return
            a string with the desired format of the number. This is used
            in some places like SeriesFormatter.
            See formats.format.EngFormatter for an example.
            [default: None] [currently: None]
        display.html.border : int
            A ``border=value`` attribute is inserted in the ``<table>`` tag
            for the DataFrame HTML repr.
            [default: 1] [currently: 1]
        display.html.table_schema : boolean
            Whether to publish a Table Schema representation for frontends
            that support it.
            (default: False)
            [default: False] [currently: False]
        display.html.use_mathjax : boolean
            When True, Jupyter notebook will process table contents using MathJax,
            rendering mathematical expressions enclosed by the dollar symbol.
            (default: True)
            [default: True] [currently: True]
        display.large_repr : 'truncate'/'info'
            For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
            show a truncated table (the default from 0.13), or switch to the view from
            df.info() (the behaviour in earlier versions of pandas).
            [default: truncate] [currently: truncate]
        display.latex.escape : bool
            This specifies if the to_latex method of a Dataframe uses escapes special
            characters.
            Valid values: False,True
            [default: True] [currently: True]
        display.latex.longtable :bool
            This specifies if the to_latex method of a Dataframe uses the longtable
            format.
            Valid values: False,True
            [default: False] [currently: False]
        display.latex.multicolumn : bool
            This specifies if the to_latex method of a Dataframe uses multicolumns
            to pretty-print MultiIndex columns.
            Valid values: False,True
            [default: True] [currently: True]
        display.latex.multicolumn_format : bool
            This specifies if the to_latex method of a Dataframe uses multicolumns
            to pretty-print MultiIndex columns.
            Valid values: False,True
            [default: l] [currently: l]
        display.latex.multirow : bool
            This specifies if the to_latex method of a Dataframe uses multirows
            to pretty-print MultiIndex rows.
            Valid values: False,True
            [default: False] [currently: False]
        display.latex.repr : boolean
            Whether to produce a latex DataFrame representation for jupyter
            environments that support it.
            (default: False)
            [default: False] [currently: False]
        display.max_categories : int
            This sets the maximum number of categories pandas should output when
            printing out a `Categorical` or a Series of dtype "category".
            [default: 8] [currently: 8]
        display.max_columns : int
            If max_cols is exceeded, switch to truncate view. Depending on
            `large_repr`, objects are either centrally truncated or printed as
            a summary view. 'None' value means unlimited.

            In case python/IPython is running in a terminal and `large_repr`
            equals 'truncate' this can be set to 0 and pandas will auto-detect
            the width of the terminal and print a truncated object which fits
            the screen width. The IPython notebook, IPython qtconsole, or IDLE
            do not run in a terminal and hence it is not possible to do
            correct auto-detection.
            [default: 20] [currently: 20]
        display.max_colwidth : int or None
            The maximum width in characters of a column in the repr of
            a pandas data structure. When the column overflows, a "..."
            placeholder is embedded in the output. A 'None' value means unlimited.
            [default: 50] [currently: 50]
        display.max_info_columns : int
            max_info_columns is used in DataFrame.info method to decide if
            per column information will be printed.
            [default: 100] [currently: 100]
        display.max_info_rows : int or None
            df.info() will usually show null-counts for each column.
            For large frames this can be quite slow. max_info_rows and max_info_cols
            limit this null check only to frames with smaller dimensions than
            specified.
            [default: 1690785] [currently: 1690785]
        display.max_rows : int
            If max_rows is exceeded, switch to truncate view. Depending on
            `large_repr`, objects are either centrally truncated or printed as
            a summary view. 'None' value means unlimited.

            In case python/IPython is running in a terminal and `large_repr`
            equals 'truncate' this can be set to 0 and pandas will auto-detect
            the height of the terminal and print a truncated object which fits
            the screen height. The IPython notebook, IPython qtconsole, or
            IDLE do not run in a terminal and hence it is not possible to do
            correct auto-detection.
            [default: 60] [currently: 60]
        display.max_seq_items : int or None
            When pretty-printing a long sequence, no more then `max_seq_items`
            will be printed. If items are omitted, they will be denoted by the
            addition of "..." to the resulting string.

            If set to None, the number of items to be printed is unlimited.
            [default: 100] [currently: 100]
        display.memory_usage : bool, string or None
            This specifies if the memory usage of a DataFrame should be displayed when
            df.info() is called. Valid values True,False,'deep'
            [default: True] [currently: True]
        display.min_rows : int
            The numbers of rows to show in a truncated view (when `max_rows` is
            exceeded). Ignored when `max_rows` is set to None or 0. When set to
            None, follows the value of `max_rows`.
            [default: 10] [currently: 10]
        display.multi_sparse : boolean
            "sparsify" MultiIndex display (don't display repeated
            elements in outer levels within groups)
            [default: True] [currently: True]
        display.notebook_repr_html : boolean
            When True, IPython notebook will use html representation for
            pandas objects (if it is available).
            [default: True] [currently: True]
        display.pprint_nest_depth : int
            Controls the number of nested levels to process when pretty-printing
            [default: 3] [currently: 3]
        display.precision : int
            Floating point output precision in terms of number of places after the
            decimal, for regular formatting as well as scientific notation. Similar
            to ``precision`` in :meth:`numpy.set_printoptions`.
            [default: 6] [currently: 6]
        display.show_dimensions : boolean or 'truncate'
            Whether to print out dimensions at the end of DataFrame repr.
            If 'truncate' is specified, only print out the dimensions if the
            frame is truncated (e.g. not display all rows and/or columns)
            [default: truncate] [currently: truncate]
        display.unicode.ambiguous_as_wide : boolean
            Whether to use the Unicode East Asian Width to calculate the display text
            width.
            Enabling this may affect to the performance (default: False)
            [default: False] [currently: False]
        display.unicode.east_asian_width : boolean
            Whether to use the Unicode East Asian Width to calculate the display text
            width.
            Enabling this may affect to the performance (default: False)
            [default: False] [currently: False]
        display.width : int
            Width of the display in characters. In case python/IPython is running in
            a terminal this can be set to None and pandas will correctly auto-detect
            the width.
            Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
            terminal and hence it is not possible to correctly detect the width.
            [default: 80] [currently: 80]
        io.excel.ods.reader : string
            The default Excel reader engine for 'ods' files. Available options:
            auto, odf.
            [default: auto] [currently: auto]
        io.excel.ods.writer : string
            The default Excel writer engine for 'ods' files. Available options:
            auto, odf.
            [default: auto] [currently: auto]
        io.excel.xls.reader : string
            The default Excel reader engine for 'xls' files. Available options:
            auto, xlrd.
            [default: auto] [currently: auto]
        io.excel.xls.writer : string
            The default Excel writer engine for 'xls' files. Available options:
            auto, xlwt.
            [default: auto] [currently: auto]
            (Deprecated, use `` instead.)
        io.excel.xlsb.reader : string
            The default Excel reader engine for 'xlsb' files. Available options:
            auto, pyxlsb.
            [default: auto] [currently: auto]
        io.excel.xlsm.reader : string
            The default Excel reader engine for 'xlsm' files. Available options:
            auto, xlrd, openpyxl.
            [default: auto] [currently: auto]
        io.excel.xlsm.writer : string
            The default Excel writer engine for 'xlsm' files. Available options:
            auto, openpyxl.
            [default: auto] [currently: auto]
        io.excel.xlsx.reader : string
            The default Excel reader engine for 'xlsx' files. Available options:
            auto, xlrd, openpyxl.
            [default: auto] [currently: auto]
        io.excel.xlsx.writer : string
            The default Excel writer engine for 'xlsx' files. Available options:
            auto, openpyxl, xlsxwriter.
            [default: auto] [currently: auto]
        io.hdf.default_format : format
            default format writing format, if None, then
            put will default to 'fixed' and append will default to 'table'
            [default: None] [currently: None]
        io.hdf.dropna_table : boolean
            drop ALL nan rows when appending to a table
            [default: False] [currently: False]
        io.parquet.engine : string
            The default parquet reader/writer engine. Available options:
            'auto', 'pyarrow', 'fastparquet', the default is 'auto'
            [default: auto] [currently: auto]
        io.sql.engine : string
            The default sql reader/writer engine. Available options:
            'auto', 'sqlalchemy', the default is 'auto'
            [default: auto] [currently: auto]
        mode.chained_assignment : string
            Raise an exception, warn, or no action if trying to use chained assignment,
            The default is warn
            [default: warn] [currently: warn]
        mode.data_manager : string
            Internal data manager type; can be "block" or "array". Defaults to "block",
            unless overridden by the 'PANDAS_DATA_MANAGER' environment variable (needs
            to be set before pandas is imported).
            [default: block] [currently: block]
        mode.sim_interactive : boolean
            Whether to simulate interactive mode for purposes of testing
            [default: False] [currently: False]
        mode.string_storage : string
            The default storage for StringDtype.
            [default: python] [currently: python]
        mode.use_inf_as_na : boolean
            True means treat None, NaN, INF, -INF as NA (old way),
            False means None and NaN are null, but INF, -INF are not NA
            (new way).

help> quit

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [32]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [33]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [34]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [35]:
help(quit)

Help on ZMQExitAutocall in module IPython.core.autocall object:

class ZMQExitAutocall(ExitAutocall)
 |  ZMQExitAutocall(ip=None)
 |
 |  Exit IPython. Autocallable, so it needn't be explicitly called.
 |
 |  Parameters
 |  ----------
 |  keep_kernel : bool
 |    If True, leave the kernel alive. Otherwise, tell the kernel to exit too
 |    (default).
 |
 |  Method resolution order:
 |      ZMQExitAutocall
 |      ExitAutocall
 |      IPyAutocall
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __call__(self, keep_kernel=False)
 |      Call self as a function.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from ExitAutocall:
 |
 |  rewrite = False
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from IPyAutocall:
 |
 |  __init__(self, ip=None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  set_ip(self, ip)
 |      Will be used to set _ip point to current ipython instance b/f call
 |
 |      Override this method if you don't want this to happen.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from IPyAutocall:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [36]:
x=int(input("Please enter the number "))
y=int(input("Please enter the number "))
z=int(input("Please enter the number "))
print(max(x,y,z))

Please enter the number 21
Please enter the number 43
Please enter the number 29
43

In [37]:
import math
print(math.sqrt(144))

12.0

In [38]:
Sq_root=math.sqrt
print(Sq_root(64))

8.0

In [39]:
import random
print(random.random())

0.22495767640324926

In [41]:
print(random.randint(1,100))
print(random.randint(1,10))
print(random.randint(1,1010))

8
9
504

In [42]:
a='Hi How are you'
b="Hi How are you"
c='''Hi How are you'''
print(a)
print(b)
print(c)

Hi How are you
Hi How are you
Hi How are you

In [43]:
#a='Hi Hi Hi don't say'
print(a)
b='Hi Hi Hi don\'t say'
print(b)

Hi How are you
Hi Hi Hi don't say

In [44]:
print(len(a))
c='Hello' 
d='World'
print(c+d)

14
HelloWorld

In [46]:
a = "I LOVE YOU "
print(a*100)
print(a)

I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU I LOVE YOU
I LOVE YOU

In [47]:
a='hello'
b=6
#print(a+b)
print(a+str(b))

hello6

In [48]:
num1 = int(input("Enter First number : "))
num2 = int(input("Enter Second Number : "))
print("Sum is", num1+num2)

Enter First number : 23
Enter Second Number : 46
Sum is 69

In [49]:
num1 = int(input("Enter First number : "))
num2 = int(input("Enter Second Number : "))
print("The remainder when a is divided by b is", num1%num2)

Enter First number : 21
Enter Second Number : 6
The remainder when a is divided by b is 3

In [50]:
num1 = int(input("Enter First number : "))
num2 = int(input("Enter Second Number : "))
print(num1>num2)

Enter First number : 34
Enter Second Number : 67
False

In [51]:
num1 = int(input("Enter First number : "))
num2 = int(input("Enter Second Number : "))
avg = (num1+num2)/2
print(avg)

Enter First number : 68
Enter Second Number : 96
82.0

In [52]:
num = int(input("Enter First number : "))
square = num*num
print(square)

Enter First number : 29
841

In [53]:
a = 31
b = 'SMRUTI'
print(a, b)
print(type(a))
print(type(b))

31 SMRUTI
<class 'int'>
<class 'str'>

In [54]:
# a = 'Smruti's'
# print(a)
a = "Harry's"
print(a)

Harry's

In [55]:
a = 'Gyana"s'
print(a)

Gyana"s

In [56]:
a = '''"Smruti's" and
  Gyana"s'''
print(a)

"Smruti's" and
  Gyana"s

In [57]:
greeting = "Good Morning, "
name = "SMRUTI"
# print(type(name))
# Concatenating 2 strings
# print(greeting + name)
c = greeting + name
print(c)
print(name[0])
print(name[4])
# print(name[9])
# name[2] = "d"   ---> does not work

print(name[0:3])
print(name[0:5])
print(name[1:3])
print(name[:5])
print(name[0:])
print(name[0:0])

print(name[-4:-1])
print(name[-5:])

# d = name[1:6:2] # MUI
d = name[1:6:3] # MT
d = name[0::2]  # SRT
print(d)

Good Morning, SMRUTI
S
T
SMR
SMRUT
MR
SMRUT
SMRUTI

RUT
MRUTI
SRT

In [58]:
story = "once upon a time there was a Hero in past time named Smruti who was a great Person"
# print(story[0:9])
# print(story[1:34])

print(len(story))
# print(story.endswith("jnbdjn"))
# print(story.endswith("Person"))
# print(story.endswith("person"))

# print(story.count("s"))
# print(story.count("time"))

# print(story.capitalize())

# print(story.find("SMRUTI"))
# print(story.find("Smruti"))  
# print(story.find("upon"))

# print(story.replace("Smruti","SMRUTI"))
# print(story.replace("Smruti","SMRUTI"))
print(story.replace("time","passt"))

82
once upon a passt there was a Hero in past passt named Smruti who was a great Person

In [59]:
# story = "Smruti is good. \nHe \t is very good"
story = "Smruti is good. \nHe \t is ve\\ry good"
print(story)

Smruti is good.
He 	 is ve\ry good

In [60]:
name = input("Enter your name ")
print("Good Afternoon, " + name)

Enter your name Baishali
Good Afternoon, Baishali

In [61]:
letter = '''Dear <|NAME|>,
Greetings from Google. We are happy to tell about your selection
You are selected!
Have a Great day ahead
Date: <|DATE|>
'''
name = input("Enter your name\n")
date = input("Enter Date\n")
letter = letter.replace("<|NAME|>", name)
letter = letter.replace("<|DATE|>", date)
print(letter)

Enter your name
Rajesh Gupta
Enter Date
23rd March 2022
Dear Rajesh Gupta,
Greetings from Google. We are happy to tell about your selection
You are selected!
Have a Great day ahead
Date: 23rd March 2022

In [62]:
st = "This is a string with double   spaces"
doubleSpaces = st.find("  ")
print(doubleSpaces)

28

In [63]:
st = "This is a string with double   spaces"
# st = st.replace("","  ")
st = st.replace("   "," ")
print(st)

This is a string with double spaces

In [64]:
letter = "Dear SMRUTI, This Python course is nice! Thanks!"
print(letter)

formatted_letter = "Dear SMRUTIRANJAN, \n\t This Python course is nice! Thanks"
print(formatted_letter)

Dear SMRUTI, This Python course is nice! Thanks!
Dear SMRUTIRANJAN,
	 This Python course is nice! Thanks

# Methods in List

### Index()

In [3]:
#orderded collection
# create a list using []
a = [1,2,3,6,56,9,0]
# print using print() function
print(a)

[1, 2, 3, 6, 56, 9, 0]

In [4]:
#acess using index using a[0],a[1],a[2]...
print(a[2])
print(a[5])
print(a[6])
# print(a[9])
print(a[5] - a[2])

3
9
0
6

In [112]:
print(a[0])
# change the value of list
a[1]=88
print(a)

1
[1, 88, 3, 6, 56, 9, 0]

In [113]:
# we can create a list with items of different list
c = [45, "SMRUTI",False, 4.9]
print(c)
print(type(c))

[45, 'SMRUTI', False, 4.9]
<class 'list'>

In [114]:
# list slicing
friends = ["smruti", "omm", "sara", "damodor", "baishali"]
print(friends[0:4])
print(friends[:5])
print(friends[:6])
print(friends[:])
print(friends[:0])
print(friends[3:9])
print(friends[-4:])
print(friends[:-3])
print(friends[:-4])

['smruti', 'omm', 'sara', 'damodor']
['smruti', 'omm', 'sara', 'damodor', 'baishali']
['smruti', 'omm', 'sara', 'damodor', 'baishali']
['smruti', 'omm', 'sara', 'damodor', 'baishali']
[]
['damodor', 'baishali']
['omm', 'sara', 'damodor', 'baishali']
['smruti', 'omm']
['smruti']

In [65]:
animals=['cat','dog','tiger','lion']
ind=animals.index('tiger')
print(ind)
ind=animals.index('cat')
print(ind)

2
0

In [66]:
vowels=['a','e','i','o','u']
index=vowels.index('p')
print('The index of p is:',index)

ValueError: 'p' is not in list

In [67]:
alphabet = ['a','e','i','o','g','l','i','u']
index=alphabet.index('e')
print('The index of e is:',index)
index=alphabet.index('i',4)
print('The index of i is :',index)
index=alphabet.index('i',3,7)

The index of e is: 1
The index of i is : 6

### append()

In [68]:
currencies = ['Dollar','Eurro','Pound']
currencies.append('Yen')
print(currencies)

['Dollar', 'Eurro', 'Pound', 'Yen']

In [69]:
animals=['cat','dog','rabbit']
animals.append('guinea pig')
print('Updated animal list:',animals)

Updated animal list: ['cat', 'dog', 'rabbit', 'guinea pig']

In [70]:
animals=['cat','dog','rabbit']
wild_animals=['tiger','fox']
animals.append(wild_animals)
print('Updated animal list : ',animals)

Updated animal list :  ['cat', 'dog', 'rabbit', ['tiger', 'fox']]

### extend()

In [71]:
prime_numbers=[2,3,5]
numbers=[1,4]
numbers.extend(prime_numbers)
print('List after extend():',numbers)

List after extend(): [1, 4, 2, 3, 5]

In [72]:
a1=[1,2]
a2=[1,2]
b=(3,4)
a1.extend(b)
print(a1)
a2.append(b)
print(a2)

[1, 2, 3, 4]
[1, 2, (3, 4)]

### insert()

In [73]:
vowel=['a','e','i','u']
vowels.insert(3,'o')
print('List:',vowel)

List: ['a', 'e', 'i', 'u']

In [74]:
mixed_list=[{1,2},{5,6,7}]
number_tuple=(3,4)
mixed_list.insert(1,number_tuple)
print('updated list:',mixed_list)

updated list: [{1, 2}, (3, 4), {5, 6, 7}]

### remove()

In [75]:
animal=['cat', 'dog', 'rabbit', 'guinea pig']
animals.remove('rabbit')
print('Updated animals list:',animals)

Updated animals list: ['cat', 'dog', ['tiger', 'fox']]

In [76]:
animal=['cat', 'dog','dog','dog', 'rabbit', 'guinea pig']     #check it
animals.remove('dog')
print('Updated animals list:',animals)

Updated animals list: ['cat', ['tiger', 'fox']]

### count()

In [77]:
numbers=[2,3,5,2,11,2,7]
count=numbers.count(2)
print('Count of 2:',count)

Count of 2: 3

### pop() , delete()

In [78]:
languages = ['Python','Java','C++','French','C']
return_value=languages.pop(3)
print('Return value:',return_value)
print('Updated list:',languages)

Return value: French
Updated list: ['Python', 'Java', 'C++', 'C']

In [79]:
languages = ['Python','Java','C++','Ruby','C']
print('Return value:',languages.pop())
print('Updated list:',languages)
print('Return value:',languages.pop(-1))
print('Updated list:',languages)
print('Return value:',languages.pop(-3))
print('Updated list:',languages)

Return value: C
Updated list: ['Python', 'Java', 'C++', 'Ruby']
Return value: Ruby
Updated list: ['Python', 'Java', 'C++']
Return value: Python
Updated list: ['Java', 'C++']

In [80]:
numbers=[1,2,3,4,5]
del numbers[2]
print(numbers)
del numbers[-1]
print(numbers)
del numbers[0]
print(numbers)

[1, 2, 4, 5]
[1, 2, 4]
[2, 4]

In [81]:
list=[{1,2},('a'),['1.1','2.2']]
del list[:]
print('List:',list)

List: []

### reverse()

In [82]:
systems=['Windows','macOS','Linux']
print('Original List:',systems)
systems.reverse()
print('Updated List:',systems)

Original List: ['Windows', 'macOS', 'Linux']
Updated List: ['Linux', 'macOS', 'Windows']

In [83]:
systems=['Windows','macOS','Linux']
print('Original List:',systems)
reversed_list=systems[::-1]
print('Updated List:',reversed_list)

Original List: ['Windows', 'macOS', 'Linux']
Updated List: ['Linux', 'macOS', 'Windows']

### sort()

In [84]:
vowels=['e','a','u','o','i']
vowels.sort()
print('Sorted list:',vowels)

Sorted list: ['a', 'e', 'i', 'o', 'u']

In [1]:
vowels=['e','a','u','o','i', 'a', 'i']
vowels.sort()
print('Sorted list:',vowels)

Sorted list: ['a', 'a', 'e', 'i', 'i', 'o', 'u']

In [85]:
vowels=['e','a','u','o','i']
vowels.sort(reverse=True)
print('Sorted list(in Descending):',vowels)

Sorted list(in Descending): ['u', 'o', 'i', 'e', 'a']

In [86]:
def takeSecond(elem):
    return elem[1]
random=[(1,2),(3,4),(4,1),(1,3)]
random.sort(key=takeSecond)
print('Sorted list:',random)

Sorted list: [(4, 1), (1, 2), (1, 3), (3, 4)]

In [2]:
def takeFirst(elem):
    return elem[1]
random=[(1,2),(3,4),(4,1),(1,3)]
random.sort(key=takeFirst)
print('Sorted list:',random)

Sorted list: [(4, 1), (1, 2), (1, 3), (3, 4)]

### copy()

In [87]:
my_list=['cat',0.6,7]
new_list=my_list.copy()
print('Copied List:',new_list)

Copied List: ['cat', 0.6, 7]

In [88]:
old_list=[1,2,3]
new_list=old_list
new_list.append('a')
print('New List:',new_list)
print('Old List:',old_list)

New List: [1, 2, 3, 'a']
Old List: [1, 2, 3, 'a']

In [89]:
list=['cat',0,6.7]
new_list=list[:]
new_list.append('dog')
print('Old List:',list)
print('New List:',new_list)

Old List: ['cat', 0, 6.7]
New List: ['cat', 0, 6.7, 'dog']

### clear()

In [90]:
list=[{1,2},{'a'},['1.1','2.2']]
list.clear()
print('List:',list)

List: []

In [115]:
# list methods
l1 = [1,8,7,2,21,15]
# l1_sorted=l1.sort()
# print(l1_sorted) # return none
# l1.sort() #sorts the list
# print(l1)

l1.reverse() # reverses the list
print(l1)

l1.append(83) # adds at the end of the list
print(l1)

# l1.insert(0,548)
# l1.insert(2,548)
l1.insert(5,548)
print(l1)
# l1.insert(19,54)
# print(l1)

l1.remove(8) #removes 8 from list
l1.pop(3)  #removes element at index 2
print(l1)

[15, 21, 2, 7, 8, 1]
[15, 21, 2, 7, 8, 1, 83]
[15, 21, 2, 7, 8, 548, 1, 83]
[15, 21, 2, 548, 1, 83]

# Membership in List

In [91]:
x=[10,20,30,40,50]
a=20
print(a in x)
print(a not in x)

True
False

# Slicing

In [92]:
mylist=[0,1,2,3,4,5,6,7,8,9]
mylist[4:8]

[4, 5, 6, 7]

In [93]:
print(mylist[5:10])

[5, 6, 7, 8, 9]

In [94]:
names=['a','d','g','h']
print(names[2:3])

['g']

In [95]:
print(names[2:4])

['g', 'h']

In [96]:
print(mylist[5:])

[5, 6, 7, 8, 9]

In [97]:
print(mylist[:10])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [98]:
print(mylist[:5])

[0, 1, 2, 3, 4]

In [99]:
print(mylist[0:10:3])

[0, 3, 6, 9]

In [100]:
print(mylist[::3])

[0, 3, 6, 9]

In [101]:
print(mylist[::-2])

[9, 7, 5, 3, 1]

In [102]:
print(mylist[-4:-2])

[6, 7]

# 2D List

In [103]:
a=[[2,4,6,8,10],[3,6,9,12,15],[4,8,12,16,20]]
print(a)

[[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]

In [104]:
# accessing with loop
a=[[2,4,6,8,10],[3,6,9,12,15],[4,8,12,16,20]]
for record in a:
    print(record)

[2, 4, 6, 8, 10]
[3, 6, 9, 12, 15]
[4, 8, 12, 16, 20]

In [105]:
# accessing using square brackets
a=[[2,4,6,8],
  [1,3,5,7],
  [8,6,4,2],
  [7,5,3,1]]
for i in range(len(a)):
    for j in range(len(a[i])):
        print(a[i][j],end=" ")
        print()

2
4
6
8
1
3
5
7
8
6
4
2
7
5
3
1

In [106]:
# creating multidimensional list with all zeros 
m=4
n=5
a=[[0 for x in range(n)]for x in range(m)]
print(a)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [107]:
# append()
a=[[2,4,6,8,10],[3,6,9,12,15],[4,8,12,16,20]]
a.append([5,10,15,20,25])
print(a)

[[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [5, 10, 15, 20, 25]]

In [108]:
# extend()
a=[[2,4,6,8,10],[3,6,9,12,15],[4,8,12,16,20]]
a[0].extend([12,14,16,18])
print(a)

[[2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]

In [109]:
# reverese()
a=[[2,4,6,8,10],[3,6,9,12,15],[4,8,12,16,20]]
a[2].reverse()
print(a)

[[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [20, 16, 12, 8, 4]]

24/03/2022

# TUPLE

In [1]:
# creating a tiple using a ()
t = (1,2,4,5)

# printing elements of tuple
print(t[0])

# can not update the value of tuple
# t[0] = 32  # throws an error

1

In [2]:
t1 = () # empty tuple
print(t1)
print(type(t1))

()
<class 'tuple'>

In [3]:
t2 = (2) # not a tuple
print(t2)
print(type(t2))

()
<class 'int'>

In [4]:
my_tuple=(1,"Hello",3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [5]:
my_tuple=("mouse",[8,4,6],(1,2,3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [6]:
my_tuple=("hello")
print(type(my_tuple))

<class 'str'>

In [7]:
my_tuple=("hello",)
print(type(my_tuple))

<class 'tuple'>

In [8]:
my_tuple="hello",
print(type(my_tuple))

<class 'tuple'>

In [11]:
# creating tuple methods
t = (1,2,3,4,5,3,2,7,8,1)
print(t.count(1))

print(t.index(1))
print(t.index(3))

2
0
2

In [9]:
my_tuple=('p','e','r','m','i','t')
print(my_tuple[0])
print(my_tuple[5])

p
t

In [10]:
n_tuple=("mouse",[8,4,6],(1,2,3))
print(n_tuple[0][3])
print(n_tuple[1][1])

s
4

In [12]:
my_tuple=('p','e','r','m','i','t')
print(my_tuple[-1])
print(my_tuple[-6])

t
p

In [13]:
my_tuple=('w','e','l','c','o','m','e')
print(my_tuple[1:4])
print(my_tuple[:-7])
print(my_tuple[5:])
print(my_tuple[:])

('e', 'l', 'c')
()
('m', 'e')
('w', 'e', 'l', 'c', 'o', 'm', 'e')

In [14]:
my_tuple=(4,2,3,[6,5])
my_tuple[3][0]=9
print(my_tuple)
my_tuple=('p','r','o','g','r','a','m','m','e','r','s')
print(my_tuple)

(4, 2, 3, [9, 5])
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'e', 'r', 's')

In [15]:
print((1,2,3)+(4,5,6))
print(("Repeat",)*3)

(1, 2, 3, 4, 5, 6)
('Repeat', 'Repeat', 'Repeat')

In [16]:
my_tuple2=('p','r','o','g','r','a','m')
del my_tuple2
print(my_tuple2)

NameError: name 'my_tuple2' is not defined

In [17]:
Prime_numbers=[2,3,5,7,11,13,17]
Perfect_Squares=(1,4,9,16,25,36)
print("#prime=",len(Prime_numbers))
print("#square=",len(Perfect_Squares))

#prime= 7
#square= 6

In [18]:
import sys
print(dir(sys))

['__breakpointhook__', '__displayhook__', '__doc__', '__excepthook__', '__interactivehook__', '__loader__', '__name__', '__package__', '__spec__', '__stderr__', '__stdin__', '__stdout__', '__unraisablehook__', '_base_executable', '_clear_type_cache', '_current_frames', '_debugmallocstats', '_enablelegacywindowsfsencoding', '_framework', '_getframe', '_git', '_home', '_xoptions', 'addaudithook', 'api_version', 'argv', 'audit', 'base_exec_prefix', 'base_prefix', 'breakpointhook', 'builtin_module_names', 'byteorder', 'call_tracing', 'copyright', 'displayhook', 'dllhandle', 'dont_write_bytecode', 'exc_info', 'excepthook', 'exec_prefix', 'executable', 'exit', 'flags', 'float_info', 'float_repr_style', 'get_asyncgen_hooks', 'get_coroutine_origin_tracking_depth', 'getallocatedblocks', 'getdefaultencoding', 'getfilesystemencodeerrors', 'getfilesystemencoding', 'getprofile', 'getrecursionlimit', 'getrefcount', 'getsizeof', 'getswitchinterval', 'gettrace', 'getwindowsversion', 'hash_info', 'hexversion', 'implementation', 'int_info', 'intern', 'is_finalizing', 'last_traceback', 'last_type', 'last_value', 'maxsize', 'maxunicode', 'meta_path', 'modules', 'path', 'path_hooks', 'path_importer_cache', 'platform', 'platlibdir', 'prefix', 'ps1', 'ps2', 'ps3', 'pycache_prefix', 'set_asyncgen_hooks', 'set_coroutine_origin_tracking_depth', 'setprofile', 'setrecursionlimit', 'setswitchinterval', 'settrace', 'stderr', 'stdin', 'stdout', 'thread_info', 'unraisablehook', 'version', 'version_info', 'warnoptions', 'winver']

In [19]:
List_eg=[1,2,3,"a","b","c",True,3.14159]
Tuple_eg=[1,2,3,"a","b","c",True,3.14159]
print("List_size=",sys.getsizeof(List_eg))
print("Tuple_eg=",sys.getsizeof(Tuple_eg))

List_size= 120
Tuple_eg= 120

In [20]:
f1 = input("Enter fruit number 1: ")
f2 = input("Enter fruit number 2: ")
f3 = input("Enter fruit number 3: ")
f4 = input("Enter fruit number 4: ")
f5 = input("Enter fruit number 5: ")
f6 = input("Enter fruit number 6: ")
f7 = input("Enter fruit number 7: ")

myFruitList = [f1,f2,f3,f4,f5,f6,f7]
print(myFruitList)

Enter fruit number 1: apple
Enter fruit number 2: orange
Enter fruit number 3: grapes
Enter fruit number 4: mango\
Enter fruit number 5: banana
Enter fruit number 6: guava
Enter fruit number 7: apple
['apple', 'orange', 'grapes', 'mango\\', 'banana', 'guava', 'apple']

In [21]:
a = (2,4,5,7,3.9)
a(0) = 34
print(a)

SyntaxError: cannot assign to function call (Temp/ipykernel_8076/3503195009.py, line 2)

In [22]:
a = [2,4,56,2]
# print(a[0] + a[1] + a[2] + a[3])
print(sum(a))

64

In [23]:
a = (7,0,8,0,0,9)
print(a.count(0))

3

### SET

In [24]:
my_set={1,2,3}
print(my_set)
my_set={1.0,"Hello",(1,2,3)}
print(my_set)

{1, 2, 3}
{1.0, (1, 2, 3), 'Hello'}

In [25]:
my_set={1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [26]:
my_set=set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [27]:
my_set={1,2,[3,4]}
print(my_set)

TypeError: unhashable type: 'list'

In [28]:
a=set()
print(type(a))

<class 'set'>

In [29]:
my_set={1,3}
print(my_set)
my_set.add(2)
print(my_set)
my_set.update([2,3,4])
print(my_set)
my_set.update([4,5],{1,6,8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [30]:
my_set={1,2,3,4,5,6}
print(my_set)
my_set.discard(4)
print(my_set)
my_set.remove(6)
print(my_set)
my_set.discard(2)
print(my_set)
my_set.remove(2)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 5, 6}
{1, 2, 3, 5}
{1, 3, 5}

KeyError: 2

In [31]:
A={'a','b'}
B={1,2,3}
result=A.update(B)
print('A=',A)
print('result=',result)

A= {'b', 1, 2, 3, 'a'}
result= None

In [32]:
A={'a','c','d'}
B={'c','d',2}
C={1,2,3}
print('A U B =',A.union(B))
print('B U C =',B.union(C))
print('A U B U C =',A.union(B,C))
print('A.union()=',A.union())

A U B = {2, 'c', 'd', 'a'}
B U C = {1, 2, 3, 'd', 'c'}
A U B U C = {1, 2, 'c', 3, 'd', 'a'}
A.union()= {'d', 'a', 'c'}

In [33]:
A={'a','c','d'}
B={'c','d',2}
C={1,2,3}
print('A U B =',A|B)
print('B U C =',B|C)
print('A U B U C =',A|B|C)

A U B = {2, 'c', 'd', 'a'}
B U C = {1, 2, 3, 'd', 'c'}
A U B U C = {1, 2, 'c', 3, 'd', 'a'}

In [34]:
A={2,3,5,4}
B={2,5,100}
C={2,3,8,9,10}
print(B.intersection(A))
print(B.intersection(C))
print(A.intersection(C))
print(C.intersection(A,B))

{2, 5}
{2}
{2, 3}
{2}

In [35]:
A = {100,7,8}
B = {200,4,5}
C = {300,2,3,7}
D = {100,200,300}
print(A & C)
print(A & D)
print(A & C & D)
print(A & B & C & D)

{7}
{100}
set()
set()

In [36]:
A = {'a','b','c','d'}
B = {'c','f','g'}
print(A.difference(B))
print(B.difference(A))

{'b', 'd', 'a'}
{'f', 'g'}

In [37]:
A = {'a','b','c','d'}
B = {'c','f','g'}
print(A-B)
print(B-A)

{'b', 'd', 'a'}
{'f', 'g'}

In [38]:
A = {'a','b','c','d'}
B = {'c','d','e'}
C = {}
print(A.symmetric_difference(B))
print(B.symmetric_difference(A))
print(A.symmetric_difference(C))
print(B.symmetric_difference(C))

{'e', 'a', 'b'}
{'b', 'e', 'a'}
{'b', 'd', 'c', 'a'}
{'d', 'e', 'c'}

In [39]:
A={'a','b','c','d'}
B={'c','d','e'}
print(A^B)
print(B^A)
print(A^A)
print(B^B)

{'e', 'a', 'b'}
{'b', 'e', 'a'}
set()
set()

In [40]:
A={1,2,3}
B={1,2,3,4,5}
C={1,2,4,5}
print(A.issubset(B))
print(B.issubset(A))
print(A.issubset(C))
print(C.issubset(B))

True
False
False
True

In [41]:
A={1,2,3,4}
B={5,6,7}
C={4,5,6}
print('Are A and B disjoint?',A.isdisjoint(B))
print('Are A and C disjoint?',A.isdisjoint(C))

Are A and B disjoint? True
Are A and C disjoint? False

In [42]:
# identity operator(to know the memory location)
a=25
b=25
print(id(a))
print(id(b))

1947123608624
1947123608624

In [43]:
a=25
b=25
if(a is b):
    return false

SyntaxError: 'return' outside function (Temp/ipykernel_8076/348239903.py, line 4)

### Dictionary

In [44]:
myDict = {
    "Fast": "In a quick Manner",
    "Smruti": "A coder",
    "Marks" : [1,2,5]
}
print(myDict['Fast'])
print(myDict['Smruti'])
print(myDict['Marks'])

In a quick Manner
A coder
[1, 2, 5]

In [45]:
my_dict={'name':'Jack','age':26}
print(my_dict['name'])
print(my_dict.get('age'))
print(my_dict.get('address'))
print(my_dict)

Jack
26
None
{'name': 'Jack', 'age': 26}

In [46]:
my_dict={'name':'Jack','age':'26'}
my_dict['age']=27
print(my_dict)
my_dict['address']='Downtown'
print(my_dict)

{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [47]:
squares={1:1,2:4,3:9,4:16,5:25}
print(squares.pop(4))
print(squares)
print(squares.popitem())
print(squares)
squares.clear()
print(squares)
# del squares
# print(squares)

16
{1: 1, 2: 4, 3: 9, 5: 25}
(5, 25)
{1: 1, 2: 4, 3: 9}
{}

In [48]:
# fromkeys()
keys={'a','e','i','o','u'}
vowels=dict.fromkeys(keys)
print(vowels)

{'e': None, 'o': None, 'i': None, 'u': None, 'a': None}

In [49]:
keys={'a','e','i','o','u'}
value=[1]
vowels=dict.fromkeys(keys,value)
print(vowels)
value.append(2)
print(vowels)

{'e': [1], 'o': [1], 'i': [1], 'u': [1], 'a': [1]}
{'e': [1, 2], 'o': [1, 2], 'i': [1, 2], 'u': [1, 2], 'a': [1, 2]}

In [50]:
# get()
marks={'Physics':82,'Maths':87}
print(marks.get('Physics'))

82

In [51]:
# item()
sales={'apple':2,'orange':3,'grapes':4}
print(sales.items())

dict_items([('apple', 2), ('orange', 3), ('grapes', 4)])

In [52]:
sales={'apple':2,'orange':3,'grapes':4}
items=sales.items()
print('Original items:',items)
del[sales['apple']]
print('Updated items:',items)

Original items: dict_items([('apple', 2), ('orange', 3), ('grapes', 4)])
Updated items: dict_items([('orange', 3), ('grapes', 4)])

In [53]:
# keys()
person={'name':'Phill','age':22,'salary':3500.00}
print(person.keys())
empty_dict={}
print(empty_dict.keys)

dict_keys(['name', 'age', 'salary'])
<built-in method keys of dict object at 0x000001C55E67E2C0>

In [56]:
person={'name':'Phill','age':22}
print('Before the dictionary is updated')
keys=person.keys()
print(keys)
print(person)
person.update({'salary':3500.0})
print("\n After the dictionary is updated")
print(keys)
print(person)

Before the dictionary is updated
dict_keys(['name', 'age'])
{'name': 'Phill', 'age': 22}

 After the dictionary is updated
dict_keys(['name', 'age', 'salary'])
{'name': 'Phill', 'age': 22, 'salary': 3500.0}

In [57]:
# values()
sales={'apple':2,'orange':3,'grapes':4}
values=sales.values()
print('Original items:',values)
del[sales['apple']]
print('Updated items:',values)

Original items: dict_values([2, 3, 4])
Updated items: dict_values([3, 4])

In [58]:
# all()
l=[1,3,4,5]
print(all(l))

l=[0,False]
print(all(l))

l=[1,3,4,0]
print(all(l))

l=[0,False,5]
print(all(l))

l=[]
print(all(l))

True
False
False
False
True

In [59]:
s="This is good"
print(all(s))
s='ooo'
print(all(s))
s=""
print(all(s))

True
True
True

In [60]:
s={0:'False',1:'False'}
print(all(s))
s={1:'True',1:'True'}
print(all(s))
s={1:'True',False:0}
print(all(s))
s={}
print(all(s))
s={0:'True'}
print(all(s))

False
True
False
True
False

In [61]:
# any()
l=[1,3,4,0]
print(any(l))
l=[0,False]
print(any(l))
l=[0,False,5]
print(any(l))
l=[]
print(any(l))

True
False
True
False

In [62]:
s="This is good"
print(any(s))
s='000'
print(any(s))
s=""
print(any(s))

True
True
False

In [63]:
d={0:'False'}
print(any(d))
d={0:'False',1:'True'}
print(any(d))
d={0:'False',False:0}
print(any(d))
d={}
print(any(d))
d={'0':'False'}
print(any(d))

False
True
False
False
True

# Control Statement

In [64]:
a = 45
if(a>3):
    print("The value of a is greater than 3")
elif(a>7):
    print("The value of a is greater than 7")
elif(a>13):
    print("The value of a is greater than 13")
elif(a>17):
    print("The value of a is greater than 17")
else:
    print("Yhe value of a is not greater than 3 or 7")
    
print("Done")

The value of a is greater than 3
Done

In [65]:
# Multiple if statements

a = 8
if(a<3):
    print("The value of a is greater than 3") 
    
if(a>13):
    print("The value of a is greater than 13")  

if(a>7):
    print("The value of a is greater than 7  ")
    
if(a>17):
    print("The value of a is greater than 17")
else:
    print("Yhe value of a is not greater than 3 or 7")
    
print("Done")

The value of a is greater than 7
Yhe value of a is not greater than 3 or 7
Done

In [66]:
age = int(input("Enter Your age"))
if age>=18:
    print("Yes")
else:
    print("No")

Enter Your age20
Yes

In [67]:
# age = 45
age = 50
# if(age>34 and age<56):
if(age>34 or age<45):
    print("You can work with us")
else:
    print("You can't work with us")

You can work with us

In [68]:
a = None
if (a is None):
    print("Yes")
else:
    print("No")

# a = [45, 56, 6]
# print(435 in a)

Yes

In [69]:
a = 6
if(a==7):
    print("yes")
elif(a>56):
    print("no and yes")
else:
    print("I am optional")

I am optional

In [70]:
num1 = int(input("Enter number 1: "))
num2 = int(input("Enter number 2: "))
num3 = int(input("Enter number 3: "))
num4 = int(input("Enter number 4: "))

if(num1>num4):
    f1 = num1
else:
    f1 = num4

if(num2>num3):
    f2 = num2
else:
    f2 = num3

if(f1>f2):
    print(str(f1) + " is greatest")
else:
    print(str(f2) + " is greatest")

Enter number 1: 23
Enter number 2: 56
Enter number 3: 49
Enter number 4: 37
56 is greatest

In [71]:
sub1 = int(input("Enter first subject marks\n"))
sub2 = int(input("Enter second subject marks\n"))
sub3 = int(input("Enter third subject marks\n"))

if(sub1<33 or sub2<33 or sub3<33):
    print("You are fail because you have less than 33% in one of the subjects")
elif(sub1+sub2+sub3)/3 < 40:
    print("You are fail due to total percentage less than 40")
else:
    print("Congatulations! You passed the exam")

Enter first subject marks
94
Enter second subject marks
89
Enter third subject marks
99
Congatulations! You passed the exam

In [72]:
text = input("Enter the text\n")

if("make a lot of money" in text):
    spam = True
elif("buy now" in text):
    spam = True
elif("click this" in text):
    spam = True
elif("subscribe this" in text):
    spam = True
else:
    spam = False

if(spam):
    print("This text is spam")
else:
    print("This text is not spam")

Enter the text
click this
This text is spam

In [73]:
names = ["harry", "shubham", "rohit", "rohan", "aditi", "shipra"]
name = input("Enter the name to check\n")

if name in names:
    print("Your name is present in the list")
else:
    print("Your name is not present in the list")

Enter the name to check
baishali
Your name is not present in the list

In [75]:
marks = float(input("Enter Your Marks\n"))

if marks>=90:
    grade = "Ex"
elif marks>=80:
    grade = "A"
elif marks>=70:
    grade = "B"
elif marks>=60:
    grade = "C"
elif marks>=50:
    grade = "D" 
else:
    grade = "F"

print("Your grade is " + grade)

Enter Your Marks
92.33
Your grade is Ex

In [76]:
str = input("Enter the username: ")
a = len(str)
if a<10:
    print("The username has less than 10 characters")
else:
    print("The username has not less than 10 characters")

Enter the username: Gyanaranjan Polai
The username has not less than 10 characters

### pass statement

In [1]:
num=[1,2,3,-4,-5,-6,-7,8,9]
for i in num:
    if(i>0):
        pass
    else:
        print(i)

-4
-5
-6
-7

In [16]:
i = 4

def run(player):
    pass

def ouch(player):
    pass

if i>0:
    pass

while i>6:
  pass

print("Gyana is a good boy")

Gyana is a good boy

### Looping

In [ ]:
a=0
while a<5:
    print(a)
    a+=1
a=1
Sum=0
print("Enter the number to add the sum : ")
print("Enter to quit: ")
while a!=0:
    print("sum is:",sum)
    a=float(input("number: "))
    a=float(a)
    Sum+=a
print("Total sum=",sum)
b=[3,4,5,6,7,8,9,1,2]
for num in b:
    print(sum)

In [4]:
 i = 0
while i<10:
    print("Yes")
    i = i + 1

print("Done")

Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Done

In [5]:
i = 1

while i<=25:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [6]:
i = 0
while i<5:
    print("SMRUTI")
    i = i+1

SMRUTI
SMRUTI
SMRUTI
SMRUTI
SMRUTI

In [7]:
fruits = ['Banana', 'Watermelon', 'Grapes', 'Mangoes']
i = 0
while i<len(fruits):
    print(fruits[i])
    i = i+1

Banana
Watermelon
Grapes
Mangoes

In [8]:
fruits = ['Banana', 'Watermelon', 'Grapes', 'Mangoes']

for item in fruits:
    print(item)

Banana
Watermelon
Grapes
Mangoes

In [9]:
for i in range(1, 8, 1):
    print(i)

1
2
3
4
5
6
7

In [10]:
for i in range(1, 8, 2):
    print(i)

1
3
5
7

In [11]:
for i in range(1, 8, 3):
    print(i)

1
4
7

In [12]:
for i in range(10):
    print(i)
else:
    print("This is inside else of for")

0
1
2
3
4
5
6
7
8
9
This is inside else of for

In [13]:
for i in range(10):
    print(i)
    if i == 5:
        break
else:
    print("This is inside else of for")

0
1
2
3
4
5

In [2]:
for val in "string":
    if val=="i":
        break
print(val)
print("the end")

i
the end

In [14]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [3]:
for val in "string":
    if val=="i":
        continue
print(val)
print("the end")

g
the end

In [17]:
num = int(input("Enter the number"))
for i in range(1, 11):
#     print(str(num) + " X " + str(i) + "=" + str(i*num))
   print(f"{num}X{i}={num*i}")

Enter the number21
21X1=21
21X2=42
21X3=63
21X4=84
21X5=105
21X6=126
21X7=147
21X8=168
21X9=189
21X10=210

In [18]:
l1 = ["Smruti", "Baishali", "Sachin", "Rahul"]

for name in l1:
    if name.startswith("S"):
        print("Hello " + name)

Hello Smruti
Hello Sachin

In [2]:
num = int(input("Enter the number"))
i = 1
while i<11:
    print(f"{num}X{i}={num*i}")
    i = i+1

Enter the number4
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
4X10=40

In [1]:
num = int(input("Enter the number: "))
prime = True

for i in range(2, num):
    if(num%i == 0):
        prime = False
        break
if prime:
    print("This number is Prime")
else:
    print("This number is not Prime")

Enter the number: 243
This number is not Prime

In [2]:
# n! = 1 X 2 X 3 X ..... X n
# 5! = 1 X 2 X 3 X 4 X 5

num = int(input("Enter the number: "))
factorial = 1
for i in range(1, num+1):
    factorial = factorial * i
print(f"The factorial of {num} is {factorial}")

Enter the number: 7
The factorial of 7 is 5040

In [3]:
n = 4

for i in range(4):
    print("*" * (i+1))

*
**
***
****

In [4]:
n = 3
for i in range(3): 
    print(" " * (n-i-1), end="")
    print("*" * (2*i+1), end="")
    print(" " * (n-i-1))

  *
 ***
*****

# Function

In [5]:
def fun():
    print("Welcome to my Home")
fun()

Welcome to my Home

In [6]:
def evenodd(x):
    if(x%2 == 0):
        print("even")
    else:
        print("odd")
evenodd(3)
evenodd(6)

odd
even

In [7]:
def myFun(x,y=50):
    print("x: ",x)
    print("y: ",y)
myFun(10)

x:  10
y:  50

In [8]:
def student(firstname,lastname):
    print(firstname,lastname)
student(firstname='Peter',lastname='Paxton')
student(lastname='Devi',firstname='Visvakumar')

Peter Paxton
Visvakumar Devi

In [9]:
def percent(marks):
    p = ((marks[0] + marks[1] + marks[2]+ marks[3])/400 )*100
    return p

marks1 = [45, 78, 86, 77]
percentage1 = percent(marks1)

marks2 = [75, 98, 88, 78]
percentage2 = percent(marks2)

print(percentage1, percentage2)

71.5 84.75

In [10]:
def greet(name):
    print("Good Day, "+ name)

def mySum(num1, num2):
    return num1 + num2

greet("SMRUTI")
s = mySum(6, 32)
print(s)

Good Day, SMRUTI
38

In [11]:
def greet(name="Stranger"):
    print("Good Day, "+ name)
 

greet("SMRUTI") 
greet()

Good Day, SMRUTI
Good Day, Stranger

In [6]:
# n! = 1 * 2 * 3 * 4...*n
# n! = [1 * 2 * 3 * 4... n-1] *n
# n! = n * (n-1)! 

# n = 0
# product = 1
# for i in range(n):
#     product = product * (i+1)
# print(product)

def factorial_iter(n):
    product = 1
    for i in range(n):
        product = product * (i+1)
    return product

def factorial_recursive(n):
    if n == 1 or n == 0:
        return 1
    return n * factorial_recursive(n-1)

f = factorial_iter(5)
# f = factorial_recursive(4)
print(f)

120

In [13]:
def maximum(num1, num2, num3):
    if (num1>num2):
        if(num1>num3):
            return num1
        else:
            return num3
    else:
        if(num2>num3):
            return num2
        else:
            return num3

m = maximum(13, 55, 2)
print("The value of the maximum is " + str(m))

The value of the maximum is 55

In [14]:
def farh(cel):
    return (cel *(9/5)) + 32

c = 0
f = farh(c)
print("Fahreheit Temperature is " + str(f))

Fahreheit Temperature is 32.0

In [15]:
print("Hello", end=" ")
print("How", end=" ")
print("are", end=" ")
print("you?", end=" ")

Hello How are you?

In [ ]:
# n! = (n-1)! * n 
# sum(n) = sum(n-1) + n

In [16]:
n = 3
for i in range(n):
    print("*" * (n-i)) # Prints * n-i times

***
**
*

In [17]:
def remove_and_split(string, word):
    newStr = string.replace(word, "")
    return newStr.strip()

this = "     Harry is a good      "
n = remove_and_split(this, "Harry")
print(n)
# print(this)
# print(this.strip())

is a good

In [18]:
def myFun(*argv):
    for arg in argv:
        print(arg)
myFun('Hello','Welcome','Home')

Hello
Welcome
Home

In [19]:
def myFun(**kwargs):
    for key,value in kwargs.items():
        print("%s==%s" %(key,value))
myFun(first='Hello',mid='Salut',last='Hola')

first==Hello
mid==Salut
last==Hola

In [20]:
string="Bonjour"
def test(string):
    string="MerciBeaucoup"
    print("Inside Function:",string)
test(string)
print("Outside Function:",string)

Inside Function: MerciBeaucoup
Outside Function: Bonjour

In [21]:
def add_more(list):
    list.append(50)
    print("Inside function",list)
mylist=[10,20,30,40]
add_more(mylist)
print("Outside Function:",mylist)

Inside function [10, 20, 30, 40, 50]
Outside Function: [10, 20, 30, 40, 50]

In [22]:
def cube(y):
    return y*y*y
lambda_cube=lambda y:y*y*y
print(cube(5))
print(lambda_cube(5))

125
125

In [23]:
table[lambda x=x: x*10 for x in range(1,11)]
for table in tables:
    print(table())

SyntaxError: invalid syntax (Temp/ipykernel_1160/2678439764.py, line 1)

In [24]:
Max=lambda a,b: a if(a<b) else b
print(Max(1,2))

1

In [25]:
li=[5,7,22,97,54,62,77,23,73,61]
final_list=list(filter(lambda x: (x%2!=0),li))
print(final_list)

[5, 7, 97, 77, 23, 73, 61]

In [26]:
ages=[13,90,17,59,21,60,5]
adults=list(filter(lambda age:age>18,ages))
print(adults)

[90, 59, 21, 60]

In [27]:
data=[[2,3,4],[1,4,16,64],[3,6,9,12]]
sort_elements=lambda x:(sorted(y) for y in x)
get_second_elements=lambda x,f:[y[1] for y in f(x)]
second_elements=get_second_elements(data,sort_elements)
print(second_elements)

[3, 4, 6]

# String Methods

In [28]:
string = "python is AWsome"
capitalized_string=string.capitalize()
print('Old String:',string)
print('Capitalized String:',capitalized_string)

Old String: python is AWsome
Capitalized String: Python is awsome

In [1]:
string="+ is an operator"
new_string=string.capitalize()
print('Old String:',string)
print('New String:',new_string)

Old String: + is an operator
New String: + is an operator

In [31]:
string = "python is awsome"
new_string=string.center(34,'*')
print("Centered String:",new_string)

Centered String: *********python is awsome*********

In [33]:
string="PYTHON IS AWESOME"
print("Lowercase String:",string.casefold())

Lowercase String: python is awesome

In [34]:
string="Python is awesome,isn't it"
substring="is"
count=string.count(substring,8,25)
print("The count is:",count)

The count is: 1

In [35]:
string="Python is awesome,isn't it"
substring="i"
count=string.count(substring,8,25)
print("The count is:",count)

The count is: 2

In [36]:
text="python program is easy to learn."
result=text.endswith('learn.',7)
print(result)
result=text.endswith('is',7,26)
print(result)
result=text.endswith('easy',7,26)
print(result)

True
False
False

In [37]:
s="28212"
print(s.isdigit())
s="Mo3nica Gell2 2er"
print(s.isdigit())
s="Mo3nicaGell22er"
print(s.isdigit())

True
False
False

In [38]:
sentence='Python programming is fun.'
result=sentence.index('is fun')
print("Substring 'is fun':",result)
# result=sentence.index('Java')
# print("Substring 'Java':",result)

Substring 'is fun': 19

In [39]:
quote='let it be,let it be,let it be'
result=quote.find('let it')
print("Substring 'let it':",result)
result=quote.find('small')
print("Substring 'small':",result)
if(quote.find('be,')!=-1):
    print("Contains Substring 'be',")
else:
    print("Doesn't contain Substring ")

Substring 'let it': 0
Substring 'small': -1
Contains Substring 'be',

In [40]:
string="Python!!!"
print("The string is:",string)
string_utf=string.encode()
print('The encoded version is:',string_utf)

The string is: Python!!!
The encoded version is: b'Python!!!'

In [41]:
name="M23onica"
print(name.isalnum())
name="M23onica Gelzzar"
print(name.isalnum())
name="M23onicaGelzzar"
print(name.isalnum())
name="133"
print(name.isalnum())

True
False
True
True

In [42]:
name="Monica"
print(name.isalpha())
name="Monica Gelzzar"
print(name.isalpha())
name="M23onicaGelzzar"
print(name.isalpha())

True
False
False

In [3]:
string = "python"
print('The String is: ',string)
string_utf = string.encode()
print('The encoded version is', string_utf)

The String is:  python
The encoded version is b'python'

In [6]:
string = 'SmRUtI!'
print('The String is: ',string)
string_utf = string.encode()
print('The encoded version is',string_utf)

The String is:  SmRUtI!
The encoded version is b'SmRUtI!'

In [43]:
print("Hello {},your balance is {}.".format("Adam",230.2346))
print("Hello {0},your balance is {1}.".format("Adam",230.2346))
print("Hello {name},your balance is {blc}.".format(name="Adam",blc=230.2346))
print("Hello {0},your balance is {blc}.".format("Adam",blc=230.2346))

Hello Adam,your balance is 230.2346.
Hello Adam,your balance is 230.2346.
Hello Adam,your balance is 230.2346.
Hello Adam,your balance is 230.2346.

In [44]:
print("The number is {:d}".format(123))
print("The float number is:{:f}".format(123.4567898))
print("bin:{0:b},oct:{0:0},hex:{0:x}".format(12))

The number is 123
The float number is:123.456790
bin:1100,oct:12,hex:c

In [45]:
print("{:5d}".format(12))
print("{:2d}".format(1234))
print("{:8.3f}".format(12.2346))
print("{:05d}".format(12))
print("{:08.3f}".format(12.2346))

   12
1234
  12.235
00012
0012.235

In [46]:
str='root123'
if str.isidentifier()==True:
    print(str,'is valid identifier')
else:
    print(str,'is not a valid identifier')
str='33root'
if str.isidentifier()==True:
    print(str,'is valid identifier.')
else:
    print(str,'is not a valid identifier.')
str='root 33'
if str.isidentifier()==True:
    print(str,'is valid identifier.')
else:
    print(str,'is not a valid identifier.')

root123 is valid identifier
33root is not a valid identifier.
root 33 is not a valid identifier.

In [47]:
numList = ['1','2','3','4']
separator=','
print(separator.join(numList))
numTuple = ('1','2','3','4')
print(separator.join(numTuple))
s1='abc'
s2='123'
print('s1.join(s2):',s1.join(s2))
print('s2.join(s1):',s1.join(s1))

1,2,3,4
1,2,3,4
s1.join(s2): 1abc2abc3
s2.join(s1): aabcbabcc

In [48]:
string='xoxo love xoxo'
print(string.strip())
print(string.strip('xoe'))
print(string.strip('stx'))
string='string is awasome'
print(string.strip('an'))

xoxo love xoxo
 love
oxo love xoxo
string is awasome

In [49]:
random_string='   this is good'
print(random_string.lstrip())
print(random_string.lstrip('sti'))
print(random_string.lstrip('s sti'))
website = 'https://www.programmers.com/'
print(website.lstrip('https:/.'))

this is good
   this is good
his is good
www.programmers.com/

In [50]:
random_string='this is good    '
print(random_string.rstrip())
print(random_string.rstrip('si oo'))
print(random_string.rstrip('sid oo'))
website = 'www.programmers.com/'
print(website.rstrip('m/.'))

this is good
this is good
this is g
www.programmers.co

In [51]:
song='cold,cold heart'
print(song.replace('cold','hurt'))
song='Let it be,let it be,let it be,let it be'
print(song.replace('let',"don't let",1))
print(song.replace('let',"don't let",2))
print(song.replace('let',"don't let",3))
print(song.replace('let',"don't let",4))
print(song.replace('let',"don't let",0))
print(song.replace('let',"don't let",5))

hurt,hurt heart
Let it be,don't let it be,let it be,let it be
Let it be,don't let it be,don't let it be,let it be
Let it be,don't let it be,don't let it be,don't let it be
Let it be,don't let it be,don't let it be,don't let it be
Let it be,let it be,let it be,let it be
Let it be,don't let it be,don't let it be,don't let it be

# 25/03/2022

In [7]:
import sys
randomList = ['a',0,2]
for entry in randomList:
    try:
        print("The entry is", entry)
        r = 1/int(entry)
        break
    except:
        print("Ooops!", sys.exc_info(), "occured")
        print("Next Entry: ")
        print()
print("The reciprocal of", entry, "is",r)

The entry is a
Ooops! (<class 'ValueError'>, ValueError("invalid literal for int() with base 10: 'a'"), <traceback object at 0x0000013ED5B67D40>) occured
Next Entry:

The entry is 0
Ooops! (<class 'ZeroDivisionError'>, ZeroDivisionError('division by zero'), <traceback object at 0x0000013ED5B67D40>) occured
Next Entry:

The entry is 2
The reciprocal of 2 is 0.5

In [15]:
try:
    a = int(input("Enter a positive integer: "))
    if a<=0:
        raise ValueError("That is not a positive number!")
except ValueError as ve:
    print(ve)

Enter a positive integer: -9
That is not a positive number!

In [16]:
try:
    num = int(input("Enter a number: "))
    assert num%2 == 0
except:
    print("Not an even number!")
else:
    reciprocal = 1/num
    print(reciprocal)

Enter a number: 1
Not an even number!

In [17]:
try:
    num = int(input("Enter a number: "))
    assert num%2 == 0
except:
    print("Not an even number!")
else:
    reciprocal = 1/num
    print(reciprocal)

Enter a number: 8
0.125

In [19]:
try:
    f = open("text.txt",encoding = 'utf-8')
finally:
    f.close()

NameError: name 'f' is not defined

In [22]:
class MyClass:x=5
print(MyClass)

<class '__main__.MyClass'>

In [23]:
class MyClass:x=5
p1 = MyClass()
print(p1.x)

5

In [114]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
p1 = Person("Arun", 26)

print(p1.name)
print(p1.age)

Arun
26

In [115]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    
    def myfunc(self):
        print("Hello my name is" + self.name)
    
p1 = Person("Arun", 26)
p1.myfunc()

Hello my name isArun

In [116]:
class Person:
    def __init__(mysillyobject,name,age):
        mysillyobject.name = name
        mysillyobject.age = age

    def myfunc(abc):
        print("Hello my name is" + abc.name)
    
p1 = Person("Arun", 26)
p1.myfunc()

Hello my name isArun

In [117]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is" + self.name)
    
p1 = Person("Arun", 26)
p1.myfunc()

p1.age=30;
print(p1.age)

Hello my name isArun
30

In [118]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is" + self.name)
    
p1 = Person("John", 36)
del p1.age
print(p1.age)

AttributeError: 'Person' object has no attribute 'age'

In [119]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is" + self.name)
    
p1 = Person("John", 36)
del p1.age
p1.myfunc()
# print(p1)

Hello my name isJohn

In [38]:
# Multiple Exceptions 
import math
integers = ['orange',6,-8,'apple',2.10]
for number in integers:
    try:
        number_factorial = math.factorial(number)
    except TypeError:
        print("The input is not supported.")
    except ValueError:
        print(number,"is not a positive integer.")

The input is not supported.
-8 is not a positive integer.
The input is not supported.
2.1 is not a positive integer.

C:\Users\iasms\AppData\Local\Temp/ipykernel_4812/2154265454.py:5: DeprecationWarning: Using factorial() with floats is deprecated
  number_factorial = math.factorial(number)

In [39]:
import sys
try:
    n=0
    m=2
    c=m/n
except(ZeroDivisionError) as e:
    print("The zero can't be divided")
try:
    n=2
    m='3'
    p=m+n
except TypeError:
    print('The number is in the string format')

The zero can't be divided
The number is in the string format

In [40]:
try:
    number=2
    number=number+'5'
except(TypeError,SyntaxError,ValueError) as e:
    print(e)
    print("The number is given in string format")

unsupported operand type(s) for +: 'int' and 'str'
The number is given in string format

In [41]:
try:
    print(x)
except TypeError:
    print("x is not defined")
except:
    print("Error")
try:
    print(a+b)
except:
    print("exception occured")
try:
    print(hello)
except SyntaxError as e:
    print("Invalid Syntax")
except:
    print("Invalid Synatx")

Error
exception occured
Invalid Synatx

In [44]:
class Error(Exception):
    """Base class for other exceptions"""
    pass
class ValueTooSmallError(Error):
    """Raised when the input value is too small"""
    pass
class ValueTooLargeError(Error):
    """Raised when the input value is too large"""
    pass
number = 10
while True:
    try:
        i_num=int(input("Enter a number: "))
        if i_num < number:
            raise ValueTooSmallError
        elif i_num > number:
            raise ValueTooLargeError
        break
    except ValueTooSmallError:
        print("The value is too small, try again!")
        print()
    except ValueTooLargeError:
        print("The value is too large, try again!")
        print()
print("Congratulations! You guessed it correctly")

Enter a number: 11
The value is too large, try again!

Enter a number: 14
The value is too large, try again!

Enter a number: 8
The value is too small, try again!

Enter a number: 1
The value is too small, try again!

Enter a number: 10
Congratulations! You guessed it correctly

In [120]:
class Person:
    def __init__(self,name):
        self.name=name
    def say_hi(self):
        print('Hello,my name is',self.name)
p=Person('Nikhil')
p.say_hi()

Hello,my name is Nikhil

# INHERITANCE

In [47]:
# Single Inheritance
class Parent:
    def func1(self):
        print("This function is in parent class")
class Child(Parent):
    def func2(self):
        print("This function is in child class")
object = Child()
object.func1()
object.func2()

This function is in parent class
This function is in child class

In [49]:
# Multiple Inheritance
class Mother:
    mothername=""
    def mother(self):
        print(self.mothername)
class Father:
    fathername=""
    def father(self):
        print(self.fathername)
class Son(Mother, Father):
    def parents(self):
        print("Father:", self.fathername)
        print("Mother:", self.mothername)
s1=Son()
s1.fathername="RAM"
s1.mothername="SITA"
s1.parents()

Father: RAM
Mother: SITA

In [66]:
# Multilevel Inheritance
class Family:
    def show_family(self):
        print("This is our family: ")
class Father(Family):
    fathername=""
    def show_father(self):
        print(self.fathername)
class Mother(Family):
    mothername=""
    def show_mother(self):
        print(self.mothername)
class Son(Father,Mother):
    def show_parents(self):
        print("Father:", self.fathername)
        print("Mother:", self.mothername)
s1=Son()
s1.fathername="Mark"
s1.mothername="Sonia"
s1.show_family()
s1.show_parents()

This is our family:
Father: Mark
Mother: Sonia

In [51]:
# Hierarchical Inheritance
class Parent:
    def func1(self):
        print("This function is in parent class.")
class Child1(Parent):
    def func2(self2):
        print("This function is in child1.")
class Child2(Parent):
    def func3(self):
        print("This function is in child2.")
object1 = Child1()
object2 = Child2()
object1.func1()
object1.func2()
object2.func1()
object2.func3()

This function is in parent class.
This function is in child1.
This function is in parent class.
This function is in child2.

In [53]:
# Hybrid Inheritance
class School:
    def func1(self):
        print("This function is in school.")
class Student1(School):
    def func2(self):
        print("This function is in student 1")
class Student2(School):
    def func3(self):
        print("This function is in student 2")
class Student3(School):
    def func4(self):
        print("This function is in student 3")
object=Student3()
object.func1()
object.func4()

This function is in school.
This function is in student 3

# Method Overriding

In [54]:
class Animal:
    multicellular = True
    eukaryotic=True
    def breathe(self):
        print("I breathe oxygen.")
    def feed(self):
        print("I eat food.")
class Herbivorous(Animal):
    def feed(self):
        print("I eat only plants. I am vegetarian.")
herbi = Herbivorous()
herbi.feed()
herbi.breathe()

I eat only plants. I am vegetarian.
I breathe oxygen.

# DECORATORS

In [55]:
def first(msg):
    print(msg)
first("Hello")
second=first
second("Hello")

Hello
Hello

In [56]:
def inc(x):
    return x+1
def dec(x):
    return x-1
def operate(func,x):
    result=func(x)
    return result

In [57]:
# A function returning another function
def is_called():
    def is_returned():
        print("Hello")
    return is_returned
new=is_called()
new()

Hello

In [62]:
def make_pretty(func):
    def inner():
        print("I got decorated")
        func()
    return inner
def ordinary():
    print("I am ordinary")

In [61]:
def make_pretty(func):
    def inner():
        print("I got decorated")
        func()
    return inner
def ordinary():
    print("I am ordinary")
ordinary = make_pretty(ordinary)

In [63]:
def make_pretty(func):
    def inner():
        print("I got decorated")
        func()
    return inner
@make_pretty 
def ordinary():
    print("I am ordinary")

In [64]:
def smart_divide(func):
    def inner(a,b):
        print("I am going to divide", a, "and", b)
        if b==0:
            print("Whoops! cannot divide")
            return
        return func(a,b)
    return inner
@smart_divide
def divide(a,b):
    print(a/b)

In [87]:
def fibbonacci_numbers(nums):
    x,y=0,1
    for i in range(nums):
        x,y = y,x+y
        yield x
def square(nums):
    for num in nums:
        yield num**2
print(sum(square(fibbonacci_numbers(10))))

4895

# ARRAY

In [67]:
cars = ["Ford", "Volvo", "BMW"]
for x in cars:
    print(x)

Ford
Volvo
BMW

In [68]:
cars.append("Honda")
print(cars)

['Ford', 'Volvo', 'BMW', 'Honda']

In [69]:
cars.pop(2)
print(cars)

['Ford', 'Volvo', 'Honda']

In [70]:
import array as arr
a = arr.array('i', [2,4,6,8])
print("First element: ",a[0])
print("Second element: ",a[1])
print("last element: ",a[-1])

First element:  2
Second element:  4
last element:  8

In [72]:
import array as arr
numbers_list = [2,5,62,5,42,52,48,5]
numbers_array=arr.array('i',numbers_list)

print(numbers_array[2:5])  #3rd to 5th
print(numbers_array[:-5])  #beginning to 4th
print(numbers_array[5:])   #6th to end
print(numbers_array[:])    #begining to end

array('i', [62, 5, 42])
array('i', [2, 5, 62])
array('i', [52, 48, 5])
array('i', [2, 5, 62, 5, 42, 52, 48, 5])

In [73]:
import array as arr
numbers = arr.array('i',[1,2,3,5,7,10])

numbers[0]=0
print(numbers)

numbers[2:5]=arr.array('i',[4,6,8])
print(numbers)

array('i', [0, 2, 3, 5, 7, 10])
array('i', [0, 2, 4, 6, 8, 10])

In [74]:
import array as arr
numbers = arr.array('i',[1,2,3])

numbers.append(4)
print(numbers)

numbers.extend([5,6,7])
print(numbers)

array('i', [1, 2, 3, 4])
array('i', [1, 2, 3, 4, 5, 6, 7])

In [76]:
import array as arr
number = arr.array('i',[1,2,3,4,5])

del number[2]
print(number)

array('i', [1, 2, 4, 5])

In [77]:
del number
print(number)

NameError: name 'number' is not defined

In [78]:
import array as arr
numbers = arr.array('i',[10,11,12,12,13])
numbers.remove(12)
print(numbers)

array('i', [10, 11, 12, 13])

In [80]:
print(numbers.pop(2))
print(numbers)

12
array('i', [10, 11, 13])

In [84]:
X = [[12,7,3],
    [4,5,6],
    [7,8,9]]
Y = [[5,8,1],
     [6,7,9],
     [4,5,9]]
result = [[0,0,0],
         [0,0,0],
         [0,0,0]]

for i in range(len(X)):
    for j in range(len(X[0])):
        result[i][j] = X[i][j] + Y[i][j]
        
for r in result:
    print(r)

[17, 15, 4]
[10, 12, 15]
[11, 13, 18]

In [85]:
X = [[12,7],
    [4,5],
    [3,8]]

result = [[0,0,0],
         [0,0,0]]

for i in range(len(X)):
    for j in range(len(X[0])):
        result[j][i] = X[i][j]
        
for r in result:
    print(r)

[12, 4, 3]
[7, 5, 8]

# Threading

In [88]:
import time
print(1)
time.sleep(10)
print("Done Sleeping")
print(2)
print(3)

1
Done Sleeping
2
3

In [90]:
import threading
import time
def sleepy_man(secs):
    print('Starting to sleep inside')
    time.sleep(secs)
    print('Woke up inside')
x = threading.Thread(target=sleepy_man,args=(1,))
x.start()
print(threading.activeCount())
time.sleep(1.2)
print('Done')

Starting to sleep inside7

Woke up inside
Done

In [91]:
import threading
import time
def sleepy_man(secs):
    print('Starting to sleep inside')
    time.sleep(secs)
    print('Woke up inside')
x = threading.Thread(target = sleepy_man, args = (4,))
x.start()
print(threading.activeCount())
time.sleep(1.2)
print('Done')

Starting to sleep inside7

Done
Woke up inside

In [108]:
from threading import Thread
import time
class FileLoaderThread(Thread):
    def __init__(self,fileName,encryptionType):
        Thread.__init__(self)
        self.fileName = fileName
        self.encryptionType = encryptionType
    def run(self):
        print('Stared loading contents from file: ',self.fileName)
        print('Encryption Type: ', self.encryptionType)
        for i in range(5):
            print('Loading.......')
            time.sleep(1)
            print('Finished loading contents from file: ',self.fileName)
def main():
    th = FileLoaderThread('users.csv','ABC')
    th.start()
    for u in range(5):
        print('Hi from Main Function')
        time.sleep(1)
        th.join()
    if __name__ == '__main__':
        main()

In [100]:
from threading import Thread
from time import sleep
def threaded_function(arg):
    for i in range(arg):
        print("running")
sleep(1)
if __name__ == "__main__":
    thread = Thread(target=threaded_function, args=(10,))
    thread.start()
    thread.join()
    print("thread  fnished......exiting")

running
running
running
running
running
running
running
running
running
running
thread  fnished......exiting

In [109]:
from threading import*
def dispolay():
    for i in range(10):
        print("Child Thread")
Thread_obj = Thread(target=display)
Thread_obj.start()
for i in range(10):
    print('Main Method')

Main Method
Main Method
Main Method
Main Method
Main Method
Main Method
Main Method
Main Method
Main Method
Main Method

In [110]:
from threading import*
class MyThread(Thread):
    def run(self):
        for i in range(10):
            print('Child Thread')
t=MyThread()
t.start()
for i in range(10):
    print('Main Thread')

Child ThreadMain Thread
Main Thread
Main Thread
Main Thread
Main Thread
Main Thread
Main Thread
Main Thread

Main Thread
Main Thread
Child Thread
Child Thread
Child Thread
Child Thread
Child Thread
Child Thread
Child Thread
Child Thread
Child Thread

In [112]:
from threading import*
class sample:
    def method1(self):
        for i in range(10):
            print('Child Thread')
obj=sample()
thread_obj = Thread(target=obj.method1)
thread_obj.start()
for i in range(10):
    print('Main Thread')

Child ThreadMain Thread
Main Thread

Child Thread
Child Thread
Child Thread
Child Thread
Child Thread
Child Thread
Child Thread
Child Thread
Child Thread
Main Thread
Main Thread
Main Thread
Main Thread
Main Thread
Main Thread
Main Thread
Main Thread

# 26-03-2022

# Some Programs

In [3]:
import sys
print("Python Version")
print(sys.version)
print("Version info.")
print(sys.version_info)

Python Version
3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]
Version info.
sys.version_info(major=3, minor=9, micro=7, releaselevel='final', serial=0)

In [5]:
import datetime
now = datetime.datetime.now()
print("Current date and time: ")
print(now.strftime("%y-%m-%d-%H-%M-%S"))

Current date and time:
22-03-26-14-36-59

In [8]:
from math import pi
r = float(input("Input the radius of the circle: "))
print("The area of the circle with radius "+ str(r) + " is: "+ str(pi*r**2))

Input the radius of the circle: 7
The area of the circle with radius 7.0 is: 153.93804002589985

In [9]:
fname = input("input your First Name: ")
lname = input("input your Last Name: ")
print("Hello  "+ lname + " " + fname)

input your First Name: Gyanaranjan
input your Last Name: Polai
Hello  Polai Gyanaranjan

In [10]:
values = input("Input some comma separated numbers: ")
list1 = values.split(",")
tuple1 = tuple(list1)
print('List :', list1)
print('Tuple :', tuple1)

Input some comma separated numbers: 9,11,17,23,45
List : ['9', '11', '17', '23', '45']
Tuple : ('9', '11', '17', '23', '45')

In [12]:
filename = input("Input the Filename: ")
f_extns = filename.split(".")
print("The extension of the file is : " + repr(f_extns[-1]))

Input the Filename: smruti.baishali
The extension of the file is : 'baishali'

In [13]:
color_list = ["Red","Gren", "White", "Black"]
print("%s %s" % (color_list[0], color_list[-1]))

Red Black

In [15]:
exam_st_date = (4,1,2019)
print("The examination will start from :%i / %i / %i"%exam_st_date)

The examination will start from :4 / 1 / 2019

In [17]:
a = int(input("input an integer: "))
n1 = int("%s" % a)
n2 = int("%s%s" % (a,a))
n3 = int("%s%s%s" % (a,a,a))
print(n1,n2,n3)
print(n1+n2+n3)

input an integer: 10
10 1010 101010
102030

In [18]:
print(abs._doc_)

AttributeError: 'builtin_function_or_method' object has no attribute '_doc_'

In [20]:
import calendar
y = int(input("Input the year: "))
m = int(input("Input the month: "))
print(calendar.month(y,m))

Input the year: 2002
Input the month: 3
     March 2002
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [21]:
print(""" 
a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string -------> example
""")

a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string -------> example

In [22]:
from datetime import date
f_date = date(2002,2,6)
l_date = date(2002,2,27)
delta = l_date - f_date
print(delta.days)

21

In [2]:
from datetime import date
f_date = date(2002,2,6)
l_date = date(2022,2,6)
delta = l_date - f_date
print(delta.days)

7305

In [3]:
pi = 3.1415926535897931
r = 6.0
V = (4.0/3.0)*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  904.7786842338603

In [24]:
def difference(n):
    if n<= 17:
        return 17-n
    else:
        return (n-17) * 2
print(difference(22))
print(difference(14))

10
3

In [25]:
def near_thousand(n):
    return ((abs(1000 - n) <= 100)
           or (abs(2000 - n) <= 100))
print(near_thousand(1000))
print(near_thousand(900))
print(near_thousand(800))
print(near_thousand(2200))

True
True
False
False

In [6]:
def sum_thrice(x,y,z):
    sum = x+y+z
    if x == y == z:
        sum = sum*3
    return sum
print(sum_thrice(1,2,3))
print(sum_thrice(3,3,3))

6
27

In [8]:
def new_string(str):
    if len(str) >=2 and str[:2] == "Is":
        return str
    return "Is" + str
print(new_string("Array"))
print(new_string("IsEmpty"))
print(new_string("Ist"))

IsArray
IsEmpty
Ist

In [31]:
def larger_string(str,n):
    result = ""
    for i in range(n):
        result = result+str
    return result

print(larger_string('abc',2))
print(larger_string('.py',3))

abcabc
.py.py.py

In [32]:
num = int(input("Enter a number: "))
mod = num%2
if mod>0:
    print("This is an odd number.")
else:
    print("ThisThis is an even number.")

Enter a number: 45
This is an odd number.

In [33]:
def list_count_4(nums):
    count = 0
    for num in nums:
        if num == 4:
            count = count + 1
    return count
print(list_count_4([1,4,6,7,4]))
print(list_count_4([1,4,6,4,7,4]))

2
3

In [36]:
def is_vowel(char):
    all_vowels = 'aeiou'
    return char in all_vowels
print(is_vowel('c'))
print(is_vowel('e'))

False
True

In [9]:
def substring_copy(str, n):
    flen = 2
    if flen>len(str):
        flen = len(str)
    substr = str[:flen]
    
    result = ""
    for i in range(n):
        result = result + substr
    return result
print(substring_copy('abcdef', 2))
print(substring_copy('p',3));

abab
ppp

In [39]:
def is_group_member(group_data, n):
    for value in group_data:
        if n == value:
            return True
    return False
print(is_group_member([1,5,8,3],3))
print(is_group_member([5,8,3],-1))

True
False

In [43]:
def histogram(items):
    for n in items:
        output = " "
        times = n
        while(times > 0):
            output += '*'
            times = times - 1
            print(output)
histogram([2,3,6,5])

 *
 **
 *
 **
 ***
 *
 **
 ***
 ****
 *****
 ******
 *
 **
 ***
 ****
 *****

In [44]:
def concatenate_list_data(list):
    result = ""
    for element in list:
        result += str(element)
    return result
print(concatenate_list_data([1,5,12,2]))

15122

In [46]:
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566,576,384,384,68,233,897,355,804,0,38484,576365]
for x in numbers:
    if x == 237:
        print(x)
        break
    elif x%2 == 0:
        print(x)

386
462
418
344
236
566
576
384
384
68
804
0
38484

In [48]:
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])
print(color_list_1.difference(color_list_2))

{'Black', 'White'}

In [12]:
b = int(input("Input the base: "))
h = int((input("Input the height: "))
area = b*h/2
print("area = ",area)

SyntaxError: invalid syntax (Temp/ipykernel_4256/3705700387.py, line 3)

In [55]:
def gcd(x,y):
    gcd = 1
    
    if x % y == 0:
        return y
    for k in range(int(y/2), 0, -1):
        if x % k == 0 and y % k == 0:
            gcd = k
            break
    return gcd
print(gcd(12,17))
print(gcd(4,6))

1
2

In [56]:
def lcm(x,y):
    if x>y:
        z = x
    else:
        z = y
    while(True):
        if(z % x == 0) and (z % y == 0):
            lcm = z
        if((z % x == 0) and (z % y == 0)):
            lcm = z
            break
        z += 1
    return lcm
print(lcm(4,6))
print(lcm(15,17))

12
255

In [14]:
def sum(x,y,z):
    if x == y or y == z or x == z:
        sum = 0
    else:
        sum = x+y+z
    return sum
print(sum(2,1,2))
print(sum(3,2,2))
print(sum(2,2,2))
print(sum(1,2,3))

0
0
0
6

In [59]:
def sum(x,y):
    sum = x+y
    if sum in range(15,20):
        return 20
    else:
        return sum
print(sum(10,6))
print(sum(10,2))
print(sum(10,12))

20
12
22

In [60]:
def test_number5(x,y):
    if x == y or abs(x-y) == 5 or (x+y) == 5:
        return True
    else:
        return False
print(test_number5(7,2))
print(test_number5(3,2))
print(test_number5(2,2))

True
True
True

In [61]:
def add_numbers(a,b):
    if not(isinstance(a,int) and isinstance(b,int)):
        raise TypeError("Inputs must be integers")
        return a + b
print(add_numbers(10,20))

None

In [15]:
def personal_details():
    name,age = "Simron", 19
    address = "Bangalore, Karnataka, India"
    print("Name: {}\n Age: {}\n Address: {}".format(name,age,address))
personal_details()

Name: Simron
 Age: 19
 Address: Bangalore, Karnataka, India

In [63]:
x,y = 4,3
result = x*x+2*x*y+y*y
print("({} + {} ^ 2) = {}".format(x,y,result))

(4 + 3 ^ 2) = 49

In [69]:
amt = 10000
int1 = 3.5
years = 7
future_value = amt*((1+(0.01*int1)) ** years)
print(future_value)

12722.792627665729 2

In [70]:
import math
p1 = [4,0]
p2 = [6,6]
distance = math.sqrt((p1[0] - p2[0]**2)+((p1[1]-p2[1])**2))
print(distance)

2.0

In [71]:
import os.path
open('demofile.txt','w')
print(os.path.isfile('demofile.txt'))

True

In [73]:
import struct
print(struct.calcsize("p") * 8)

8

In [75]:
import platform
import os
print(os.name)
print(platform.system())
print(platform.release())

nt
Windows
10

In [77]:
import os
print("Current File Name: ", os.path.realpath("demofile.txt"))

Current File Name:  C:\Users\iasms\Anaconda3\demofile.txt

In [78]:
n = "246.2458"
print(float(n))
print(int(float(n)))

246.2458
246

In [79]:
for i in range(0,10):
    print('*', end = "")
print("\n")

**********

In [16]:
import os
print('*--------------------------------*')
print(os.environ)
print('*--------------------------------*')
print(os.environ['JAVA'])
print('*--------------------------------*')
print(os.environ['PATH'])
print('*--------------------------------*')

*--------------------------------*
environ({'ALLUSERSPROFILE': 'C:\\ProgramData', 'APPDATA': 'C:\\Users\\iasms\\AppData\\Roaming', 'COMMONPROGRAMFILES': 'C:\\Program Files\\Common Files', 'COMMONPROGRAMFILES(X86)': 'C:\\Program Files (x86)\\Common Files', 'COMMONPROGRAMW6432': 'C:\\Program Files\\Common Files', 'COMPUTERNAME': 'DESKTOP-SMRUTI2', 'COMSPEC': 'C:\\WINDOWS\\system32\\cmd.exe', 'FPS_BROWSER_APP_PROFILE_STRING': 'Internet Explorer', 'FPS_BROWSER_USER_PROFILE_STRING': 'Default', 'HOMEDRIVE': 'C:', 'HOMEPATH': '\\Users\\iasms', 'JAVA': 'C:\\Program Files\\Java\\jdk-18.0.1.1', 'JAVAOLD': 'C:\\Program Files\\Java\\jdk1.8.0_333', 'LOCALAPPDATA': 'C:\\Users\\iasms\\AppData\\Local', 'LOGONSERVER': '\\\\DESKTOP-SMRUTI2', 'NUMBER_OF_PROCESSORS': '4', 'ONEDRIVE': 'C:\\Users\\iasms\\OneDrive', 'ONEDRIVECONSUMER': 'C:\\Users\\iasms\\OneDrive', 'OS': 'Windows_NT', 'PATH': 'C:\\Users\\iasms\\anaconda3;C:\\Users\\iasms\\anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\iasms\\anaconda3\\Library\\usr\\bin;C:\\Users\\iasms\\anaconda3\\Library\\bin;C:\\Users\\iasms\\anaconda3\\Scripts;C:\\Program Files\\Java\\jdk1.8.0_333\\bin;C:\\Program Files\\Java\\jdk-18.0.1.1\\bin;C:\\Users\\iasms\\AppData\\Local\\Programs\\Python\\Python310\\Scripts\\;C:\\Users\\iasms\\AppData\\Local\\Programs\\Python\\Python310\\;C:\\Users\\iasms\\AppData\\Local\\Microsoft\\WindowsApps;', 'PATHEXT': '.COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC', 'PROCESSOR_ARCHITECTURE': 'AMD64', 'PROCESSOR_IDENTIFIER': 'AMD64 Family 23 Model 17 Stepping 0, AuthenticAMD', 'PROCESSOR_LEVEL': '23', 'PROCESSOR_REVISION': '1100', 'PROGRAMDATA': 'C:\\ProgramData', 'PROGRAMFILES': 'C:\\Program Files', 'PROGRAMFILES(X86)': 'C:\\Program Files (x86)', 'PROGRAMW6432': 'C:\\Program Files', 'PSMODULEPATH': 'C:\\Program Files\\WindowsPowerShell\\Modules;C:\\WINDOWS\\system32\\WindowsPowerShell\\v1.0\\Modules', 'PUBLIC': 'C:\\Users\\Public', 'SESSIONNAME': 'Console', 'SYSTEMDRIVE': 'C:', 'SYSTEMROOT': 'C:\\WINDOWS', 'TEMP': 'C:\\Users\\iasms\\AppData\\Local\\Temp', 'TMP': 'C:\\Users\\iasms\\AppData\\Local\\Temp', 'USERDOMAIN': 'DESKTOP-SMRUTI2', 'USERDOMAIN_ROAMINGPROFILE': 'DESKTOP-SMRUTI2', 'USERNAME': 'iasms', 'USERPROFILE': 'C:\\Users\\iasms', 'WINDIR': 'C:\\WINDOWS', 'CONDA_PREFIX': 'C:\\Users\\iasms\\anaconda3', 'PYDEVD_USE_FRAME_EVAL': 'NO', 'JPY_INTERRUPT_EVENT': '2720', 'IPY_INTERRUPT_EVENT': '2720', 'JPY_PARENT_PID': '2724', 'TERM': 'xterm-color', 'CLICOLOR': '1', 'PAGER': 'cat', 'GIT_PAGER': 'cat', 'MPLBACKEND': 'module://matplotlib_inline.backend_inline'})
*--------------------------------*
C:\Program Files\Java\jdk-18.0.1.1
*--------------------------------*
C:\Users\iasms\anaconda3;C:\Users\iasms\anaconda3\Library\mingw-w64\bin;C:\Users\iasms\anaconda3\Library\usr\bin;C:\Users\iasms\anaconda3\Library\bin;C:\Users\iasms\anaconda3\Scripts;C:\Program Files\Java\jdk1.8.0_333\bin;C:\Program Files\Java\jdk-18.0.1.1\bin;C:\Users\iasms\AppData\Local\Programs\Python\Python310\Scripts\;C:\Users\iasms\AppData\Local\Programs\Python\Python310\;C:\Users\iasms\AppData\Local\Microsoft\WindowsApps;
*--------------------------------*

In [20]:
import socket
print([l for l in ([ip for ip in socket.gethostbyname_ex(socket.gethostname())[2]
                   if not ip.startswith("127. ")][:1],
                  [[s.connect('8.8.8.8',53)],
                   s.getsockname()[0], s.close()) for s in
                   [socket.socket(socket.AF_INET,
                    socket.SOCK_DGRAM)]][0][1]]) if l][0]
                   [0])

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (Temp/ipykernel_4256/491194596.py, line 4)

In [86]:
n = int(input("Input a number: "))
sum_num = (n * (n+1)) / 2
print(sum_num)

Input a number: 7
28.0

In [87]:
print("Input your height: ")
h_ft = int(input("Feet: "))
h_inch = int(input("Inches: "))
h_inch += h_ft * 12
h_cm = round(h_inch * 2.54, 1)

Input your height:
Feet: 5
Inches: 2

In [88]:
from math import sqrt
print("Input lenghts of shorter triangle sides: ")
a = float(input("a: "))
b = float(input("b: "))

c = sqrt(a ** 2 + b ** 2)
print("The length of the hypothesis is", c)

Input lenghts of shorter triangle sides:
a: 3
b: 4
The length of the hypothesis is 5.0

In [89]:
d_ft = int(input("Input distance in feet: "))
d_inches = d_ft * 12
d_yards = d_ft / 3.0
d_miles = d_ft / 5280.0

print("The distance in inches is %i inches." % d_inches)
print("The distance in inches is %i inches." % d_yards)
print("The distance in inches is %i inches." % d_miles)

Input distance in feet: 100
The distance in inches is 1200 inches.
The distance in inches is 33 inches.
The distance in inches is 0 inches.

In [90]:
days = int(input("Input days: ")) * 3600 * 24
hours = int(input("Input hours: ")) * 3600
minutes = int(input("Input minutes: ")) * 60
seconds = int(input("Input seconds: "))
time = days + hours + minutes + seconds
print("The amounts of seconds", time)

Input days: 4
Input hours: 5
Input minutes: 20
Input seconds: 10
The amounts of seconds 364810

In [91]:
def absolute_file_path(path_fname):
    import os
    return
os.path.abspath('path_fname')
print("Absolute file path: ",absolute_file_path("first.py"))

Absolute file path:  None

# FILE HANDELING

In [13]:
import os
f = open("C:\\Users\\iasms\\Desktop\\Python Prograamms\\File\\demofile.txt", "r")
print(f.read())

Haiii....
I AM SMRUTI RANJAN POLAI

In [12]:
import os
f = open("C:\\Users\\iasms\\Desktop\\Python Prograamms\\File\\demofile.txt", "r")
print(f.read(5))

Haiii

In [11]:
f = open("C:\\Users\\iasms\\Desktop\\Python Prograamms\\File\\demofile.txt", "r")
print(f.readline())

Haiii....

In [10]:
f = open("C:\\Users\\iasms\\Desktop\\Python Prograamms\\File\\demofile.txt", "r")
for x in f:
    print(x)

Haiii....

I AM SMRUTI RANJAN POLAI

In [9]:
f = open("C:\\Users\\iasms\\Desktop\\Python Prograamms\\File\\demofile.txt", "r")
print(f.readline())
print(f.readline())

Haiii....

I AM SMRUTI RANJAN POLAI

In [14]:
f = open("C:\\Users\\iasms\\Desktop\\Python Prograamms\\File\\demofile.txt", "a")
f.write("Now the file has many lines!")
f.close()

f = open("C:\\Users\\iasms\\Desktop\\Python Prograamms\\File\\demofile.txt", "r")
print(f.read())

Haiii....
I AM SMRUTI RANJAN POLAI
Now the file has many lines!

In [15]:
f = open("C:\\Users\\iasms\\Desktop\\Python Prograamms\\File\\demofile.txt", "a")
f.write("Woops! I have deleted the content!")
f.close()

In [17]:
import os
os.remove("C:\\Users\\iasms\\Desktop\\Python Prograamms\\File\\demofile.txt")

In [18]:
import os
if os.path.exists("C:\\Users\\iasms\\Desktop\\Python Prograamms\\File\\demofile.txt"):
    os.remove("C:\\Users\\iasms\\Desktop\\Python Prograamms\\File\\demofile.txt")
else:
    print("The file doesn't exist")

The file doesn't exist

In [21]:
import os
os.rmdir("C:\\Users\\iasms\\Desktop\\Python Prograamms\\File")

OSError: [WinError 145] The directory is not empty: 'C:\\Users\\iasms\\Desktop\\Python Prograamms\\File'

In [23]:
def KelvinToFarenhit(Temperature):
    assert (Temperature >= 0), "Colder than absolute zero!"
    return ((Temperature -273) * 1.8)+32
print("KelvinToFarenhit(273)")
print("int(KelvinToFarenhit(505.78))")
print("KelvinToFarenhit(-5)")

KelvinToFarenhit(273)
int(KelvinToFarenhit(505.78))
KelvinToFarenhit(-5)