In [1]:
print("Hello World")

Hello World

In [2]:
import os

In [3]:
import flask

In [4]:
import tensorflow

ModuleNotFoundError: No module named 'tensorflow'

In [5]:
pip install tensorflow

Note: you may need to restart the kernel to use updated packages.

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000024F763541C0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/tensorflow/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000024F763540A0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/tensorflow/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000024F76354880>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/tensorflow/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000024F76354A30>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/tensorflow/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x0000024F76354BE0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/tensorflow/
ERROR: Could not find a version that satisfies the requirement tensorflow (from versions: none)
ERROR: No matching distribution found for tensorflow

# Comments

In [6]:
#Author:Smruti
#Licenced to:ABC Company
import os   #importing the os module
print("Hello World")

Hello World

In [7]:
'''
Author:Smruti
Licenced to:ABC Company
'''
import os   #importing the os module
print("Hello World")

Hello World

## Chapter-1 Practice Set

In [1]:
 # Problem-1
print("Twinkle, twinkle,little star,
      How I wondow what you are!
      Up above the world so high
      Like a diamond in the sky.")
# error as we can't print multiple stting lines using double quote

SyntaxError: EOL while scanning string literal (Temp/ipykernel_9204/2863357997.py, line 2)

In [9]:
print('''Twinkle, twinkle,little star,
      How I wondow what you are!
      Up above the world so high
      Like a diamond in the sky.''')

Twinkle, twinkle,little star,
      How I wondow what you are!
      Up above the world so high
      Like a diamond in the sky.

In [10]:
print('''Twinkle, twinkle,little star,
How I wondow what you are!
Up above the world so high
Like a diamond in the sky.''')

Twinkle, twinkle,little star,
How I wondow what you are!
Up above the world so high
Like a diamond in the sky.

In [11]:
'''
this is the solution of problem 1
'''
print('''Twinkle, twinkle,little star,
How I wondow what you are!
Up above the world so high
Like a diamond in the sky.''')

Twinkle, twinkle,little star,
How I wondow what you are!
Up above the world so high
Like a diamond in the sky.

# Chapter-2

In [12]:
a = "Smruti"
b = 'Smruti'
c = '''Smruti'''
d = 321
e = 82.67
f = True
#f = None

#printing the variables
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

#printing the type of variables
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

Smruti
Smruti
Smruti
321
82.67
True
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [13]:
a = 37
print(a)
A = 67
print(A)

37
67

In [27]:
#Arithmetic Operator
a = 12
b = 13
print('The value of 12 + 13 is ', 12+13)
print('The value of 12-13 is ', 12-13)
print('The value of 12*13 is ', 12*13)
print('The value of 12/13 is ', 12/3)

#Assignment Operator
a = 34
a += 2
print(a)
a -= 4
print(a)
a *= 2
print(a)
a /= 8
print(a)

#Comparision Operator
b = (4>7)
print(b)
b = (20<23)
print(b)
# b = (14<=7)
# b = (14>=7)
# b = (14==7)
b = (14 != 7)
print(b)

# Logical Operators
bool1 = True
bool2 = False
print("The value of bool1 and bool2 is",(bool1 and bool2))
print("The value of bool1 and bool2 is",(bool1 or bool2))
print("The value of bool1 and bool2 is",(not bool2))

The value of 12 + 13 is  25
The value of 12-13 is  -1
The value of 12*13 is  156
The value of 12/13 is  4.0
36
32
64
8.0
False
True
True
The value of bool1 and bool2 is False
The value of bool1 and bool2 is True
The value of bool1 and bool2 is True

In [2]:
a = '3434'
print(type(a))
print(a+5)

<class 'str'>

TypeError: can only concatenate str (not "int") to str

In [4]:
a = '3434'
print(type(a))
a = int(a)
print(type(a))
print(a+5)

<class 'str'>
<class 'int'>
3439

In [31]:
a = "67hf6fhgggds7"
print(type(a))
a = int(a)
print(type(a))

<class 'str'>

ValueError: invalid literal for int() with base 10: '67hf6fhgggds7'

In [34]:
a = input("Enter your name ")
print(a)
print(type(a))

Enter your name Smruti Ranjan
Smruti Ranjan

str

In [35]:
a = input("Enter your name ")
print(a)
print(type(a))

Enter your name 89
89
<class 'str'>

In [6]:
a = input("Enter your name ")
print(a)
print(type(a))
a=int(a)  # convert a to an integer(if possible)
print(type(a))

Enter your name 12
12
<class 'str'>
<class 'int'>

## Chapter-2 Practice

In [38]:
num1 = int(input("Enter First number : "))
num2 = int(input("Enter Second Number : "))
print("Sum is", num1+num2)

Enter First number : 23
Enter Second Number : 45
Sum is 68

In [41]:
num1 = int(input("Enter First number : "))
num2 = int(input("Enter Second Number : "))
print("The remainder when a is divided by b is", num1%num2)

Enter First number : 56
Enter Second Number : 32
The remainder when a is divided by b is 24

In [43]:
num1 = int(input("Enter First number : "))
num2 = int(input("Enter Second Number : "))
print(num1>num2)

Enter First number : 23
Enter Second Number : 43
False

In [44]:
num1 = int(input("Enter First number : "))
num2 = int(input("Enter Second Number : "))
avg = (num1+num2)/2
print(avg)

Enter First number : 23
Enter Second Number : 33
28.0

In [45]:
num = int(input("Enter First number : "))
square = num*num
print(square)

Enter First number : 21
441

# Chapter- 3

In [47]:
a = 31
b = 'SMRUTI'
print(a, b)
print(type(a))
print(type(b))

31 SMRUTI
<class 'int'>
<class 'str'>

In [49]:
# a = 'Smruti's'
# print(a)
a = "Harry's"
print(a)

Harry's

In [50]:
a = 'Harry"s'
print(a)

Harry"s

In [51]:
a = '''"Harry's" and
  Harry"s'''
print(a)

"Harry's" and
  Harry"s

In [66]:
greeting = "Good Morning, "
name = "SMRUTI"
# print(type(name))
# Concatenating 2 strings
# print(greeting + name)
c = greeting + name
print(c)
print(name[0])
print(name[4])
# print(name[9])
# name[2] = "d"   ---> does not work

print(name[0:3])
print(name[0:5])
print(name[1:3])
print(name[:5])
print(name[0:])
print(name[0:0])

print(name[-4:-1])
print(name[-5:])

# d = name[1:6:2] # MUI
d = name[1:6:3] # MT
d = name[0::2]  # SRT
print(d)

Good Morning, SMRUTI
S
T
SMR
SMRUT
MR
SMRUT
SMRUTI

RUT
MRUTI
SRT

### String Functions

In [81]:
story = "once upon a time there was a Hero in past time named Smruti who was a great Person"
# print(story[0:9])
# print(story[1:34])

print(len(story))
# print(story.endswith("jnbdjn"))
# print(story.endswith("Person"))
# print(story.endswith("person"))

# print(story.count("s"))
# print(story.count("time"))

# print(story.capitalize())

# print(story.find("SMRUTI"))
# print(story.find("Smruti"))  
# print(story.find("upon"))

# print(story.replace("Smruti","SMRUTI"))
# print(story.replace("Smruti","SMRUTI"))
print(story.replace("time","passt"))

82
once upon a passt there was a Hero in past passt named Smruti who was a great Person

In [85]:
# story = "Smruti is good. \nHe \t is very good"
story = "Smruti is good. \nHe \t is ve\\ry good"
print(story)

Smruti is good.
He 	 is ve\ry good

## Chapter-3 Practice Set

In [87]:
name = input("Enter your name ")
print("Good Afternoon, " + name)

Enter your name SMRUTI
Good Afternoon, SMRUTI

In [2]:
letter = '''Dear <|NAME|>,
Greetings from Google. We are happy to tell about your selection
You are selected!
Have a Great day ahead
Date: <|DATE|>
'''
name = input("Enter your name\n")
date = input("Enter Date\n")
letter = letter.replace("<|NAME|>", name)
letter = letter.replace("<|DATE|>", date)
print(letter)

Enter your name
SMRUTI
Enter Date
30 november
Dear SMRUTI,
Greetings from Google. We are happy to tell about your selection
You are selected!
Have a Great day ahead
Date: 30 november

In [3]:
st = "This is a string with double   spaces"
doubleSpaces = st.find("  ")
print(doubleSpaces)

28

In [10]:
st = "This is a string with double   spaces"
# st = st.replace("","  ")
st = st.replace("   "," ")
print(st)

This is a string with double spaces

In [5]:
letter = "Dear Harry, This Python course is nice! Thanks!"
print(letter)

formatted_letter = "Dear Harry, \n\t This Python course is nice! Thanks"
print(formatted_letter)

Dear Harry, This Python course is nice! Thanks!
Dear Harry,
	 This Python course is nice! Thanks

# Chapter 5

In [11]:
#orderded collection
# create a list using []
a = [1,2,3,6,56,9,0]
# print using print() function
print(a)

[1, 2, 3, 6, 56, 9, 0]

In [14]:
#acess using index using a[0],a[1],a[2]...
print(a[2])
print(a[5])
print(a[6])
# print(a[9])

3
9
0

In [15]:
print(a[0])
# change the value of list
a[1]=88
print(a)

1
[1, 88, 3, 6, 56, 9, 0]

In [17]:
# we can create a list with items of different list
c = [45, "SMRUTI",False, 4.9]
print(c)
print(type(c))

[45, 'SMRUTI', False, 4.9]
<class 'list'>

In [26]:
# list slicing
friends = ["smruti", "omm", "abhisekh", "chinmaya", "baishali"]
print(friends[0:4])
print(friends[:5])
print(friends[:6])
print(friends[:])
print(friends[:0])
print(friends[3:9])
print(friends[-4:])
print(friends[:-3])
print(friends[:-4])

['smruti', 'omm', 'abhisekh', 'chinmaya']
['smruti', 'omm', 'abhisekh', 'chinmaya', 'baishali']
['smruti', 'omm', 'abhisekh', 'chinmaya', 'baishali']
['smruti', 'omm', 'abhisekh', 'chinmaya', 'baishali']
[]
['chinmaya', 'baishali']
['omm', 'abhisekh', 'chinmaya', 'baishali']
['smruti', 'omm']
['smruti']

In [40]:
# list methods
l1 = [1,8,7,2,21,15]
# l1_sorted=l1.sort()
# print(l1_sorted) # return none
# l1.sort() #sorts the list
# print(l1)

l1.reverse() # reverses the list
print(l1)

l1.append(83) # adds at the end of the list
print(l1)

# l1.insert(0,548)
# l1.insert(2,548)
l1.insert(5,548)
print(l1)
# l1.insert(19,54)
# print(l1)

l1.remove(8) #removes 8 from list
l1.pop(3)  #removes element at index 2
print(l1)

[15, 21, 2, 7, 8, 1]
[15, 21, 2, 7, 8, 1, 83]
[15, 21, 2, 7, 8, 548, 1, 83]
[15, 21, 2, 548, 1, 83]

### Tuples

In [43]:
# creating a tiple using a ()
t = (1,2,4,5)

# printing elements of tuple
print(t[0])

# can not update the value of tuple
# t[0] = 32  # throws an error

1

In [47]:
t1 = () # empty tuple
print(t1)
print(type(t1))

()
<class 'tuple'>

In [2]:
t2 = (2,3) # not a tuple
print(t2)
print(type(t2))

(2, 3)
<class 'tuple'>

In [6]:
t2 = (2)
print(t2)
print(type(t2))

2
<class 'int'>

In [51]:
# creating tuple methods
t = (1,2,3,4,5,3,2,7,8,1)
print(t.count(1))

print(t.index(1))
print(t.index(3))

2
0
2

## Practice Set

In [2]:
f1 = input("Enter fruit number 1: ")
f2 = input("Enter fruit number 2: ")
f3 = input("Enter fruit number 3: ")
f4 = input("Enter fruit number 4: ")
f5 = input("Enter fruit number 5: ")
f6 = input("Enter fruit number 6: ")
f7 = input("Enter fruit number 7: ")

myFruitList = [f1,f2,f3,f4,f5,f6,f7]
print(myFruitList)

Enter fruit number 1: Apple
Enter fruit number 2: mango
Enter fruit number 3: banana
Enter fruit number 4: kiwi
Enter fruit number 5: guava
Enter fruit number 6: orange
Enter fruit number 7: grapes
['Apple', 'mango', 'banana', 'kiwi', 'guava', 'orange', 'grapes']

In [7]:
a = (2,4,5,7,3.9)
a(0) = 34
print(a)

SyntaxError: cannot assign to function call (Temp/ipykernel_5492/3503195009.py, line 2)

In [6]:
a = [2,4,56,2]
# print(a[0] + a[1] + a[2] + a[3])
print(sum(a))

64

In [7]:
a = (7,0,8,0,0,9)
print(a.count(0))

3

# Chapter 5

In [9]:
myDict = {
    "Fast": "In a quick Manner",
    "Smruti": "A coder",
    "Marks" : [1,2,5]
}
print(myDict['Fast'])
print(myDict['Smruti'])
print(myDict['Marks'])

In a quick Manner
A coder
[1, 2, 5]

# Chapter 6

In [4]:
a = 45
if(a>3):
    print("The value of a is greater than 3")
elif(a>7):
    print("The value of a is greater than 7")
elif(a>13):
    print("The value of a is greater than 13")
elif(a>17):
    print("The value of a is greater than 17")
else:
    print("Yhe value of a is not greater than 3 or 7")
    
print("Done")

The value of a is greater than 3
Done

In [7]:
# Multiple if statements

a = 8
if(a<3):
    print("The value of a is greater than 3") 
    
if(a>13):
    print("The value of a is greater than 13")  

if(a>7):
    print("The value of a is greater than 7  ")
    
if(a>17):
    print("The value of a is greater than 17")
else:
    print("Yhe value of a is not greater than 3 or 7")
    
print("Done")

The value of a is greater than 7
Yhe value of a is not greater than 3 or 7
Done

In [13]:
age = int(input("Enter Your age"))
if age>=18:
    print("Yes")
else:
    print("No")

Enter Your age23
No

In [19]:
# age = 45
age = 50
# if(age>34 and age<56):
if(age>34 or age<45):
    print("You can work with us")
else:
    print("You can't work with us")

You can work with us

In [1]:
a = None
if (a is None):
    print("Yes")
else:
    print("No")

# a = [45, 56, 6]
# print(435 in a)

Yes

In [2]:
a = 6
if(a==7):
    print("yes")
elif(a>56):
    print("no and yes")
else:
    print("I am optional")

I am optional

## Practice Set

In [3]:
num1 = int(input("Enter number 1: "))
num2 = int(input("Enter number 2: "))
num3 = int(input("Enter number 3: "))
num4 = int(input("Enter number 4: "))

if(num1>num4):
    f1 = num1
else:
    f1 = num4

if(num2>num3):
    f2 = num2
else:
    f2 = num3

if(f1>f2):
    print(str(f1) + " is greatest")
else:
    print(str(f2) + " is greatest")

Enter number 1: 23
Enter number 2: 45
Enter number 3: 12
Enter number 4: 5
45 is greatest

In [5]:
sub1 = int(input("Enter first subject marks\n"))
sub2 = int(input("Enter second subject marks\n"))
sub3 = int(input("Enter third subject marks\n"))

if(sub1<33 or sub2<33 or sub3<33):
    print("You are fail because you have less than 33% in one of the subjects")
elif(sub1+sub2+sub3)/3 < 40:
    print("You are fail due to total percentage less than 40")
else:
    print("Congatulations! You passed the exam")

Enter first subject marks
67
Enter second subject marks
89
Enter third subject marks
54
Congatulations! You passed the exam

In [7]:
text = input("Enter the text\n")

if("make a lot of money" in text):
    spam = True
elif("buy now" in text):
    spam = True
elif("click this" in text):
    spam = True
elif("subscribe this" in text):
    spam = True
else:
    spam = False

if(spam):
    print("This text is spam")
else:
    print("This text is not spam")

Enter the text
click this
This text is spam

In [9]:
names = ["harry", "shubham", "rohit", "rohan", "aditi", "shipra"]
name = input("Enter the name to check\n")

if name in names:
    print("Your name is present in the list")
else:
    print("Your name is not present in the list")

Enter the name to check
rohit
Your name is present in the list

In [11]:
marks = int(input("Enter Your Marks\n"))

if marks>=90:
    grade = "Ex"
elif marks>=80:
    grade = "A"
elif marks>=70:
    grade = "B"
elif marks>=60:
    grade = "C"
elif marks>=50:
    grade = "D" 
else:
    grade = "F"

print("Your grade is " + grade)

Enter Your Marks
82
Your grade is A

In [2]:
str = input("Enter the username: ")
a = len(str)
if a<10:
    print("The username has less than 10 characters")
else:
    print("The username has not less than 10 characters")

Enter the username: SMRUTI
The username has less than 10 characters

In [ ]:
post = input("Enter the post: ")

# Chapter 7

In [7]:
 i = 0
while i<10:
    print("Yes")
    i = i + 1

print("Done")

Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Yes
Done

In [8]:
i = 1

while i<=50:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [9]:
i = 0
while i<5:
    print("SMRUTI")
    i = i+1

SMRUTI
SMRUTI
SMRUTI
SMRUTI
SMRUTI

In [10]:
fruits = ['Banana', 'Watermelon', 'Grapes', 'Mangoes']
i = 0
while i<len(fruits):
    print(fruits[i])
    i = i+1

Banana
Watermelon
Grapes
Mangoes

In [11]:
fruits = ['Banana', 'Watermelon', 'Grapes', 'Mangoes']

for item in fruits:
    print(item)

Banana
Watermelon
Grapes
Mangoes

In [12]:
for i in range(1, 8, 1):
    print(i)

1
2
3
4
5
6
7

In [13]:
for i in range(1, 8, 2):
    print(i)

1
3
5
7

In [14]:
for i in range(1, 8, 3):
    print(i)

1
4
7

In [15]:
for i in range(10):
    print(i)
else:
    print("This is inside else of for")

0
1
2
3
4
5
6
7
8
9
This is inside else of for

In [16]:
for i in range(10):
    print(i)
    if i == 5:
        break
else:
    print("This is inside else of for")

0
1
2
3
4
5

In [17]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [18]:
i = 4

def run(player):
    pass

def ouch(player):
    pass

if i>0:
    pass

while i>6:
  pass

print("Harry is a good boy")

Harry is a good boy

## Practice Set

In [21]:
num = int(input("Enter the number"))
for i in range(1, 11):
#     print(str(num) + " X " + str(i) + "=" + str(i*num))
   print(f"{num}X{i}={num*i}")

Enter the number23
23X1=23
23X2=46
23X3=69
23X4=92
23X5=115
23X6=138
23X7=161
23X8=184
23X9=207
23X10=230

In [22]:
l1 = ["Harry", "Sohan", "Sachin", "Rahul"]

for name in l1:
    if name.startswith("S"):
        print("Hello " + name)

Hello Sohan
Hello Sachin

In [3]:
num = int(input("Enter the number"))
while i<11:
    print(f"{num}X{i}={num*i}")

Enter the number9

NameError: name 'i' is not defined

In [4]:
num = int(input("Enter the number: "))
prime = True

for i in range(2, num):
    if(num%i == 0):
        prime = False
        break
if prime:
    print("This number is Prime")
else:
    print("This number is not Prime")

Enter the number: 23
This number is Prime

In [ ]:
num = int(input("Enter the limit number: "))
sum = 0
while

In [5]:
# n! = 1 X 2 X 3 X ..... X n
# 5! = 1 X 2 X 3 X 4 X 5

num = int(input("Enter the number: "))
factorial = 1
for i in range(1, num+1):
    factorial = factorial * i
print(f"The factorial of {num} is {factorial}")

Enter the number: 5
The factorial of 5 is 120

In [6]:
n = 4

for i in range(4):
    print("*" * (i+1))

*
**
***
****

In [7]:
n = 3
for i in range(3): 
    print(" " * (n-i-1), end="")
    print("*" * (2*i+1), end="")
    print(" " * (n-i-1))

  *
 ***
*****

# Chapter 8

In [1]:
def percent(marks):
    p = ((marks[0] + marks[1] + marks[2]+ marks[3])/400 )*100
    return p

marks1 = [45, 78, 86, 77]
percentage1 = percent(marks1)

marks2 = [75, 98, 88, 78]
percentage2 = percent(marks2)
print(percentage1, percentage2)

71.5 84.75

In [3]:
def greet(name):
    print("Good Day, "+ name)

def mySum(num1, num2):
    return num1 + num2

greet("SMRUTI")
s = mySum(6, 32)
print(s)

Good Day, SMRUTI
38

In [4]:
def greet(name="Stranger"):
    print("Good Day, "+ name)
 

greet("SMRUTI") 
greet()

Good Day, SMRUTI
Good Day, Stranger

In [5]:
# n! = 1 * 2 * 3 * 4...*n
# n! = [1 * 2 * 3 * 4... n-1] *n
# n! = n * (n-1)! 

# n = 0
# product = 1
# for i in range(n):
#     product = product * (i+1)
# print(product)

def factorial_iter(n):
    product = 1
    for i in range(n):
        product = product * (i+1)
    return product

def factorial_recursive(n):
    if n == 1 or n == 0:
        return 1
    return n * factorial_recursive(n-1)

# f = factorial_iter(5)
f = factorial_recursive(0)
print(f)

1

## Practice Set

In [6]:
def maximum(num1, num2, num3):
    if (num1>num2):
        if(num1>num3):
            return num1
        else:
            return num3
    else:
        if(num2>num3):
            return num2
        else:
            return num3

m = maximum(13, 55, 2)
print("The value of the maximum is " + str(m))

The value of the maximum is 55

In [7]:
def farh(cel):
    return (cel *(9/5)) + 32

c = 0
f = farh(c)
print("Fahreheit Temperature is " + str(f))

Fahreheit Temperature is 32.0

In [8]:
print("Hello", end=" ")
print("How", end=" ")
print("are", end=" ")
print("you?", end=" ")

Hello How are you?

In [ ]:
# n! = (n-1)! * n 
# sum(n) = sum(n-1) + n

In [9]:
n = 3
for i in range(n):
    print("*" * (n-i)) # Prints * n-i times

***
**
*

In [10]:
def remove_and_split(string, word):
    newStr = string.replace(word, "")
    return newStr.strip()

this = "     Harry is a good      "
n = remove_and_split(this, "Harry")
print(n)
# print(this)
# print(this.strip())

is a good

In [ ]:
#  multiplication table

# Chapter 9

# Chapter 10

PascalCase
EmployeeName   ---> PascalCase

camelCase
employeeName
isNumeric, isFloat   ---> camelCase

In [2]:
class Number:
    def sum(self):
        return self.a + self.b
    
num = Number()
num.a = 12
num.b = 34
s = num.sum()
print(s)

46

In [3]:
import pandas as pd
pd.DataFrame()
class RailwayForm:
    formType = "RailwayForm"
    def printData(self):
        print(f"Name is {self.name}")
        print(f"Train is {self.train}")

harrysApplication = RailwayForm()
harrysApplication.name = "Harry"
harrysApplication.train = "Rajdhani Express"
harrysApplication.printData()

Name is Harry
Train is Rajdhani Express

In [ ]:
class Remote():
    pass

class Player:
    def moveRight(self):
        pass

    def moveLeft(self):
        pass

    def moveTop(self):
        pass

remote1 = Remote()
player1 = Player()

if(remote1.isLeftPressed()):
    player1.moveLeft()

In [5]:
class Employee:
    company = "Google"
    salary = 100

harry = Employee()
rajni = Employee()
harry.salary = 300
rajni.salary = 400

print(harry.company)
print(rajni.company)
Employee.company = "YouTube"
print(harry.company)
print(rajni.company)
print(harry.salary)
print(rajni.salary)

Google
Google
YouTube
YouTube
300
400

In [6]:
class Employee:
    company = "Google"
    salary = 100

harry = Employee()
rajni = Employee()

# Creating instance attribute salary for both the objects
# harry.salary = 300
# rajni.salary = 400
harry.salary = 45
print(harry.salary)
print(rajni.salary)

# Below line throws an error as address is not present in instance/class 
# print(rajni.address)

45
100

In [7]:
class Employee:
    company = "Google"
#     salary = 100

harry = Employee()
rajni = Employee()

# Creating instance attribute salary for both the objects
harry.salary = 300
rajni.salary = 400
# harry.salary = 45
print(harry.salary)
print(rajni.salary)

# Below line throws an error as address is not present in instance/class 
# print(rajni.address)

300
400

In [8]:
class Employee:
    company = "Google"
    def getSalary(self):
        print(f"Salary for this employee working in {self.company} is {self.salary}")

harry = Employee()
harry.salary = 100000
harry.getSalary() # Employee.getSalary(harry)

Salary for this employee working in Google is 100000

In [9]:
class Employee:
    company = "Google"

    def getSalary(self, signature):
        print(f"Salary for this employee working in {self.company} is {self.salary}\n{signature}")

    @staticmethod
    def greet():
        print("Good Morning, Sir")

    @staticmethod
    def time():
        print("The time is 9AM in the morning")

harry = Employee()
harry.salary = 100000
harry.getSalary("Thanks!") # Employee.getSalary(harry)
harry.greet() # Employee.greet()
harry.time()

Salary for this employee working in Google is 100000
Thanks!
Good Morning, Sir
The time is 9AM in the morning

In [10]:
# constructor

class Employee:
    company = "Google"

    def __init__(self, name, salary, subunit):
        self.name = name
        self.salary = salary
        self.subunit = subunit
        print("Employee is created!") 
 
    def getDetails(self):
        print(f"The name of the employee is {self.name}")
        print(f"The salary of the employee is {self.salary}")
        print(f"The subunit of the employee is {self.subunit}")

    def getSalary(self, signature):
        print(f"Salary for this employee working in {self.company} is {self.salary}\n{signature}")

    @staticmethod
    def greet():
        print("Good Morning, Sir")

    @staticmethod
    def time():
        print("The time is 9AM in the morning")

harry = Employee("Harry", 100, "YouTube")
# harry = Employee() --> This throws an error (missing 3 required positional arguments:)
harry.getDetails()

Employee is created!
The name of the employee is Harry
The salary of the employee is 100
The subunit of the employee is YouTube

In [11]:
# 1. create a class programmer for storing information of few programmers working at Microsoft

class Programmer:
    company = "Microsoft"

    def __init__(self, name, product):
        self.name = name
        self.product = product

    def getInfo(self):
        print(f"The name of the {self.company} programmer is {self.name} and the product is {self.product}")


harry = Programmer("Harry", "Skype")
alka = Programmer("Alka", "GitHub")
harry.getInfo()
alka.getInfo()

The name of the Microsoft programmer is Harry and the product is Skype
The name of the Microsoft programmer is Alka and the product is GitHub

In [12]:
# 2. WAP for calculator suitable for finding square, square root, cube of a number

class Calculator:
    def __init__(self, num):
        self.number = num

    def square(self):
        print(f"The value of {self.number} square is {self.number **2}")

    def squareRoot(self):
        print(f"The value of {self.number} square root is {self.number **0.5}")

    def cube(self):
        print(f"The value of {self.number} cube is {self.number **3}")

numb = int(input())
a = Calculator(numb)
a.square()
a.squareRoot() 
a.cube()

9
The value of 9 square is 81
The value of 9 square root is 3.0
The value of 9 cube is 729

In [13]:
# 3. create a class with class attribute a; create an object from it & set directly using 
# object a = 0   Does this change the class attribute

class Sample:
    a = "Harry"

obj = Sample()
obj.a = "Vikky"
# Sample.a = "Vikky"

print(Sample.a)
print(obj.a)

Harry
Vikky

In [14]:
# 4. add a static method in prob 2 to the user with Hello

class Calculator:
    def __init__(self, num):
        self.number = num

    def square(self):
        print(f"The value of {self.number} square is {self.number **2}")

    def squareRoot(self):
        print(f"The value of {self.number} square root is {self.number **0.5}")

    def cube(self):
        print(f"The value of {self.number} cube is {self.number **3}")
    
    @staticmethod
    def greet():
        print("*******Hello there welcome to the best calculator of the world*******")

a = Calculator(9)
a.greet()
a.square()
a.squareRoot() 
a.cube()

*******Hello there welcome to the best calculator of the world*******
The value of 9 square is 81
The value of 9 square root is 3.0
The value of 9 cube is 729

In [15]:
# write a Train class which has method to book a ticket, get status(no of seats) and get fare information
# of trains running under IR

'''
1 2 3 4 5 6 7 8 9 10
'''

class Train:
    def __init__(self, name, fare, seats):
        self.name = name
        self.fare = fare
        self.seats = seats

    def getStatus(self):
        print("************")
        print(f"The name of the train is {self.name}")
        print(f"The seats available in the train are {self.seats}")
        print("************")

    def fareInfo(self):
        print(f"The price of the ticket is: Rs {self.fare}")

    def bookTicket(self):
        if(self.seats>0):
            print(f"Your ticket has been booked! Your seat number is {self.seats}")
            self.seats = self.seats - 1
        else:
            print("Sorry this train is full! Kindly try in tatkal")

    def cancelTicket(self, seatNo):
        pass

intercity = Train("Intercity Express: 14015", 90, 2)
intercity.getStatus() 
intercity.bookTicket()
intercity.bookTicket()
intercity.bookTicket()
intercity.getStatus()

************
The name of the train is Intercity Express: 14015
The seats available in the train are 2
************
Your ticket has been booked! Your seat number is 2
Your ticket has been booked! Your seat number is 1
Sorry this train is full! Kindly try in tatkal
************
The name of the train is Intercity Express: 14015
The seats available in the train are 0
************

In [16]:
# 6. can you change the self parameter inside a class to something else(say 'Smruti')
# Try changing 'self' to slf or Smruti & see what happens

class Sample: 
    def __init__(slf, name):
        slf.name = name

obj = Sample("Smruti") 
print(obj.name)

Smruti

# Inheritance

In [17]:
class Employee:
    company = "Google"

    def showDetails(self):
        print("This is an employee")

class Programmer(Employee):
    language = "Python"
    # company = "Youtube"

    def getLanguage(self):
        print(f"The language is {self.language}")
    
    def showDetails(self):
        print("This is an programmer")


e = Employee()
e.showDetails()
p = Programmer()
p.showDetails()
print(p.company)

This is an employee
This is an programmer
Google

In [18]:
# Single Inheritance

class Employee:
    company = "Google"

    def showDetails(self):
        print("This is an employee")

class Programmer(Employee):
    language = "Python"
    # company = "Youtube"

    def getLanguage(self):
        print(f"The language is {self.language}")
    
    def showDetails(self):
        print("This is an programmer")


e = Employee()
e.showDetails()
p = Programmer()
p.showDetails()
print(p.company)

This is an employee
This is an programmer
Google

In [19]:
# Multiple Inheritance

class Freelancer:
    company = "Fiverr"
    level = 0

    def upgradeLevel(self):
        self.level = self.level + 1

class Employee:
    company = "Visa"
    eCode = 120


class Programmer(Freelancer, Employee):
    name = "Rohit"

p = Programmer()
p.upgradeLevel()
print(p.company)

Fiverr

In [20]:
# Multilevel Inheritance

class Person:
    country = "India"
    def takeBreath(self):
        print("I am breathing...")

class Employee(Person):
    company = "Honda"

    def getSalary(self):
        print(f"Salary is {self.salary}")
    
    def takeBreath(self):
        print("I am an Employee so I am luckily breathing..")

class Programmer(Employee):
    company = "Fiverr"
    
    def getSalary(self):
        print(f"No salary to programmers")
    
    def takeBreath(self):
        print("I am a Progarmmer so I am breathing++..")

p = Person()
p.takeBreath()
# print(p.company) # throws an error

e = Employee()
e.takeBreath()
print(e.company)

pr = Programmer()
pr.takeBreath()
print(pr.company)
print(pr.country)

I am breathing...
I am an Employee so I am luckily breathing..
Honda
I am a Progarmmer so I am breathing++..
Fiverr
India

In [21]:
# Super

class Person:
    country = "India"

    def __init__(self):
        print("Initializing Person...\n")

    def takeBreath(self):
        print("I am breathing...")

class Employee(Person):
    company = "Honda"

    def __init__(self):
        super().__init__()
        print("Initializing Employee...\n")

    def getSalary(self):
        print(f"Salary is {self.salary}")
    
    def takeBreath(self):
        super().takeBreath()
        print("I am an Employee so I am luckily breathing..")

class Programmer(Employee):
    company = "Fiverr"

    def __init__(self):
        # super().__init__()
        print("Initializing Programmer...\n")

    def getSalary(self):
        print(f"No salary to programmers")
    
    def takeBreath(self):
        super().takeBreath()
        print("I am a Progarmmer so I am breathing++..")

# p = Person()
# p.takeBreath() 

# e = Employee()
# e.takeBreath() 

pr = Programmer()
# pr.takeBreath()

Initializing Programmer...

In [22]:
# Class Methods

class Employee:
    company = "Camel"
    salary = 100
    location = "Delhi"

    # def changeSalary(self, sal):
    #     self.__class__.salary = sal

    @classmethod
    def changeSalary(cls, sal):
        cls.salary = sal

e = Employee()
print(e.salary)
e.changeSalary(455)
print(e.salary)
print(Employee.salary)

100
455
455

In [23]:
# Property Decorator

class Employee:
    company = "Bharat Gas"
    salary = 5600
    salarybonus = 400
    # totalSalary = 6100

    @property
    def totalSalary(self):
        return self.salary + self.salarybonus

    @totalSalary.setter
    def totalSalary(self, val):
        self.salarybonus = val - self.salary

e = Employee()
print(e.totalSalary)
e.totalSalary = 5800
print(e.salary)
print(e.salarybonus)

6000
5600
200

In [24]:
# Operator Overloading

class Number:
    def __init__(self, num):
        self.num = num

    def __add__(self, num2):
        print("Lets add")
        return self.num + num2.num

    def __mul__(self, num2):
        print("Lets multiply")
        return self.num * num2.num

n1 = Number(4)
n2 = Number(6)
sum = n1 + n2
mul = n1 * n2
print(sum)
print(mul)

Lets add
Lets multiply
10
24

In [25]:
# other dunder meyhods

class Number:
    def __init__(self, num):
        self.num = num

    def __add__(self, num2):
        print("Lets add")
        return self.num + num2.num

    def __mul__(self, num2):
        print("Lets multiply")
        return self.num * num2.num
    
    def __str__(self):
        return f"Decimal Number: {self.num}"
    
    def __len__(self):
        return 1

n = Number(9)
print(n)
print(len(n))

Decimal Number: 9
1

In [26]:
# 1. create a class C 2d vector & use it to create another class representing 3d class
class C2dVec:
    def __init__(self, i, j):
        self.icap = i
        self.jcap = j

    def __str__(self):
        return f"{self.icap}i + {self.jcap}j"

class C3dVec(C2dVec):
    def __init__(self, i, j, k):
        super().__init__(i, j)
        self.kcap = k
    
    def __str__(self):
        return f"{self.icap}i + {self.jcap}j + {self.kcap}k"
    
    
v2d = C2dVec(1, 3)
v3d = C3dVec(1, 9, 7)
print(v2d)
print(v3d)

1i + 3j
1i + 9j + 7k

In [27]:
# 2. create a class pets from a class animals and further create class dog from pets
# Add a method bark to class Dog

class Animals:
    animalType = "Mammal"

class Pets:
    color = "White"

class Dog:
    @staticmethod
    def bark():
        print("Bow bow!")

d  = Dog()
d.bark()

Bow bow!

In [28]:
# 3. create a class Employee and add salary & increment to it
# write a salaryAfterIncrement method with a @property decorator with a setter 
# which changes the value of increment based on the salary

# salaryAfterIncrement =  salary * increment

class Employee:
    salary = 1000
    increment = 1.5
    @property
    def salaryAfterIncrement(self):
        return self.salary*self.increment
    
    @salaryAfterIncrement.setter
    def salaryAfterIncrement(self, sai):
        self.increment = sai/self.salary

e = Employee()
print(e.salaryAfterIncrement)

print(e.increment)
e.salaryAfterIncrement = 2000
print(e.increment)

1500.0
1.5
2.0

In [29]:
# 4. write a class complex to represent complex numbers along with overload operators + and * 
# operator which adds and multiples them

# (a+bi)(c+di) = (acbd) + (ad+bc)i

class Complex:
    def __init__(self, r, i):
        self.real = r 
        self.imaginary = i

    def __add__(self, c):
        return Complex(self.real + c.real, self.imaginary + c.imaginary)
    
    def __mul__(self, c):
        mulReal =  self.real*c.real - self.imaginary*c.imaginary
        mulImg =  self.real*c.imaginary + self.imaginary*c.real
        return Complex(mulReal, mulImg)

    def __str__(self):
        if self.imaginary<0:
            return f"{self.real} - {-self.imaginary}i"
        else:
            return f"{self.real} + {self.imaginary}i"

c1 = Complex(1, -4)
c2 = Complex(331, -37)
print(c1 + c2)
print(c1 * c2)

332 - 41i
183 - 1361i

In [30]:
# 5. write a class vector representing a vector of n dimensions. Overload the + and * operator
# which calculates the sum and the dot product of them

class Vector:
    def __init__(self, vec):
       self.vec = vec
    
    def __str__(self):
        str1 = "" 
        index = 0
        for i in self.vec:
            str1 += f" {i}a{index} +"
            index +=1
        return str1[:-1]

    def __add__(self, vec2):
        newList = []
        for i in range(len(self.vec)):
            newList.append(self.vec[i] + vec2.vec[i])
        return Vector(newList)
    
    def __mul__(self, vec2):
        sum = 0
        for i in range(len(self.vec)):
            sum += self.vec[i] * vec2.vec[i]
        return sum

v1 = Vector([1, 4, 6])
v2 = Vector([1, 6, 9])
print(v1+v2)
print(v1*v2)

 2a0 + 10a1 + 15a2
79

In [31]:
# 6. write a --str--() method to print the vector as follows : 7i + 8j + 10k
# assure vector of dimensions 3 for this problem

class Vector:
    def __init__(self, vec):
       self.vec = vec
    
    def __str__(self):
        return f"{self.vec[0]}i + {self.vec[1]}j + {self.vec[2]}k"
 

v1 = Vector([1, 4, 6])
v2 = Vector([1, 6, 9])
print(v1)
print(v2)

1i + 4j + 6k
1i + 6j + 9k

In [32]:
# 7. override the --len--() method on vector of last problem to display the dimension of the vector

class Vector:
    def __init__(self, vec):
       self.vec = vec
    
    def __str__(self):
        str1 = "" 
        index = 0
        for i in self.vec:
            str1 += f" {i}a{index} +"
            index +=1
        return str1[:-1]

    def __add__(self, vec2):
        newList = []
        for i in range(len(self.vec)):
            newList.append(self.vec[i] + vec2.vec[i])
        return Vector(newList)
    
    def __mul__(self, vec2):
        sum = 0
        for i in range(len(self.vec)):
            sum += self.vec[i] * vec2.vec[i]
        return sum
    
    def __len__(self):
        return len(self.vec)

v1 = Vector([1, 4, 6, 6])
v2 = Vector([1, 6, 9])
print(len(v1))
print(len(v2))

4
3

# Exception Handeling