In [1]:
print("Hello World")

Hello World

In [2]:
age = 20
print(age)

20

In [3]:
age = 20
age = 30
print(age)

30

In [4]:
age = 20
price = 19.37
first_name = "Smruti"
is_online = False
print(age)

20

In [5]:
# check in a patient named John Smith
# He is 20 years old
# He is a new patient

name = "John Smith"
age = 20
print(name)
print(age)

John Smith
20

In [6]:
input("What is Your name?")

What is Your name?smruti

'smruti'

In [9]:
name = input("What is Your name? ")

What is Your name? SMRUTI RANJAN POLAI

In [10]:
print("Hello " + name)

Hello SMRUTI RANJAN POLAI

In [11]:
birth_year = input("Enter Your Birth Year: ")
age = 2022 - birth_year
print(age)

Enter Your Birth Year: 2002

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [12]:
birth_year = input("Enter Your Birth Year: ")
age = 2022 - int(birth_year)
print(age)

Enter Your Birth Year: 2002
20

In [13]:
birth_year = int(input("Enter Your Birth Year: "))
age = 2022 - birth_year
print(age)

Enter Your Birth Year: 2002
20

In [14]:
# first = 10.1
# second = 20
# sum = 30.1

first = float(input())
second = float(input())
sum = first + second
print(sum)

10.1
20
30.1

In [15]:
first = input()
second = input()
sum = float(first) + float(second)
print(sum)

10.5
21.8
32.3

In [16]:
print("Sum: " + str(sum))

Sum: 32.3

In [ ]:
STRINGS

In [17]:
course = "Python for Beginners"
print(course.upper())

PYTHON FOR BEGINNERS

In [18]:
print(course.lower())

python for beginners

In [20]:
print(course.find('o'))

4

In [21]:
print(course.find('Y'))

-1

In [22]:
print(course.find('for'))

7

In [24]:
print(course.replace('for', '4'))

Python 4 Beginners

In [25]:
print(course.replace('x', '4'))

Python for Beginners

In [26]:
print('Python' in course)

True

In [27]:
print('python' in course)

False

In [28]:
print('python' not in course)

True

In [ ]:
ARITHMETIC OPERSTION

In [29]:
print(10/3)

3.3333333333333335

In [30]:
print(10//3)

3

In [31]:
print(10%3)

1

In [32]:
print(10*3)

30

In [33]:
print(10**3)

1000

In [34]:
x = 10
x = x+3
print(x)

13

In [38]:
x = 15
x += 3
print(x)
x *= 3
print(x)

18
54

In [ ]:
Operator Precedence

In [39]:
x = 10 + 3 * 2
print(x)

16

In [40]:
x = (10 + 3) * 2
print(x)

26

In [ ]:
Comparison Operator

In [41]:
x = 3 > 2
print(x)

True

In [42]:
x = 3 > 12
print(x)

False

In [44]:
x = 3 >= 2
print(x)

True

In [45]:
x = 3 <= 2
print(x)

False

In [46]:
x = 3 == 2
print(x)

False

In [47]:
x = 3 != 2
print(x)

True

In [ ]:
Logocal Operators

In [48]:
price = 25
print(price > 10 and price<30)

True

In [49]:
price = 25
print(price > 40 and price<30)

False

In [50]:
price = 25
print(price > 10 or price<30)

True

In [51]:
price = 25
print(price > 40 or price<30)

True

In [52]:
price = 5
print(not price > 10)

True

In [ ]:
# and (both)
# or (at least one)
# not

In [ ]:
if statements

In [55]:
temperature = 35
if temperature > 30:
    print("It's a hot day")
    print("Drink plenty of water")
print('done')

It's a hot day
Drink plenty of water
done

In [58]:
temperature = 25
if temperature > 30:
    print("It's a hot day")
    print("Drink plenty of water")
elif temperature > 20:
    print("It's a nice day")
elif temperature > 10:
    print("It's a bit cold")
else:
    print("It's cold")
print('done')

It's a nice day
done

In [64]:
# Weight : 170
# (K)g or (L)bs : l
# weight in Kg : 76.5

weight = float(input("Weight: "))
type = input("(K)g or (L)bs: ")
if type.upper() == "K":
    converted = weight / 0.45
    print("Weight in lbs is: " + str(converted))
elif type.upper() == "L":
    converted = weight * 0.45
    print("Weight in Kg is: " + str(converted))
else:
    print("Invalid Input")

Weight: 170
(K)g or (L)bs: l
Weight in Kg is: 76.5

In [ ]:
while loop

In [65]:
i = 1
while i <= 5:
    print(i)
    i = i+1

1
2
3
4
5

In [67]:
i = 1
while i <= 1_000:
    print(i)
    i = i+101

1
102
203
304
405
506
607
708
809
910

In [69]:
i = 1
while i <= 10:
    print(i * '*')
    i = i+1

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
list

In [70]:
names = ['a', 'b', 'c', 'd', 'e', 'f']
print(names)

['a', 'b', 'c', 'd', 'e', 'f']

In [72]:
print(names[4])

e

In [73]:
print(names[-1])

f

In [74]:
print(names[-3])

d

In [75]:
names

['a', 'b', 'c', 'd', 'e', 'f']

In [76]:
names[0] = "m"
print(names[0])

m

In [77]:
names

['m', 'b', 'c', 'd', 'e', 'f']

In [78]:
names[0:3]

['m', 'b', 'c']

In [ ]:
list methods

In [80]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [81]:
numbers.append(6)
print(numbers)

[1, 2, 3, 4, 5, 6]

In [82]:
numbers = [1, 2, 3, 4, 5]
numbers.insert(0, -1)
print(numbers)

[-1, 1, 2, 3, 4, 5]

In [83]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [84]:
numbers.clear()
print(numbers)

[]

In [85]:
numbers = [1, 2, 3, 4, 5]
print(1 in numbers)

True

In [86]:
numbers = [1, 2, 3, 4, 5]
print(31 in numbers)

False

In [88]:
print(len(numbers))

5

In [ ]:
for loops

In [90]:
numbers = [1, 2, 3, 4, 5]
for item in numbers:
    print(item)

1
2
3
4
5

In [91]:
i = 0
while i<len(numbers):
    print(numbers[i])
    i = i+1

1
2
3
4
5

In [ ]:
the range() function

In [92]:
numbers = range(5)
print(numbers)

range(0, 5)

In [95]:
numbers = range(5)
for number in numbers:
    print(number)

0
1
2
3
4

In [96]:
numbers = range(5, 12)
for number in numbers:
    print(number)

5
6
7
8
9
10
11

In [97]:
numbers = range(5, 10, 2)
for number in numbers:
    print(number)

5
7
9

In [98]:
numbers = range(5, 10, 2)
for number in range(5):
    print(number)

0
1
2
3
4

In [ ]:
tuples --> immutable

In [99]:
numbers = (1, 2, 3)
numbers[0] = 10

TypeError: 'tuple' object does not support item assignment

In [100]:
numbers = (1, 2, 3, 3, 3)
numbers.count(3)

3

In [102]:
numbers = (1, 2, 3,6,7,8,9,2)
numbers.index(4)

ValueError: tuple.index(x): x not in tuple

In [103]:
numbers = (1, 2, 3,6,7,8,9,2)
numbers.index(3)

2